In [254]:
import pandas as pd
import numpy as np

### First we will take monthly data from Trucking Database

### freight_m

In [255]:
freight_m = pd.read_excel(open('Trucking Database.xlsx', 'rb'),sheet_name='freight-m')
freight_m

,U.S. Heavy Truck Freight,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 353,Unnamed: 354,Unnamed: 355,Unnamed: 356,Unnamed: 357,Unnamed: 358,Unnamed: 359,Unnamed: 360,Unnamed: 361,Unnamed: 362
0,Monthly Data,NaN,NaN,1992,1992,1992,1992,1992,1992,1992,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
1,NEW SOURCE:,Seasonally Adjusted,NaN,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
2,NaN,Loadings (thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sheet 'MONTHLY' / Row 10,"FTR Truck Loadings (000s, SA)",NaN,42923.5,43029.3,43569.2,44421.6,44679.1,44218.3,44203.8,...,64186.2,64495,64731.1,64940.4,65098.5,65272.9,65439.2,65611.2,65750.7,65871.6
4,Sheet 'MONTHLY' / Row 53,FTR Truck Loadings Index (2000=100),NaN,76.471,76.6594,77.6214,79.14,79.5987,78.7779,78.752,...,114.352,114.902,115.323,115.696,115.977,116.288,116.584,116.891,117.139,117.355
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Truck Utilization (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Sheet 'MONTHLY' / Row 6,"FTR Active Truck Utilization (%, SA)",NaN,82.3826,82.9727,83.6622,83.4209,83.693,83.705,85.1077,...,94.94,95.3176,95.3148,95.1905,94.766,94.5326,94.3116,94.1067,93.9079,93.7187
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Loadings by Trailer Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Sheet 'MONTHLY' / Row 31,"Dry Van Trailer Loadings (000s, SA)",NaN,14649.6,14797.5,14985.1,15186,15280.9,15314.6,15288.3,...,20570.9,20672.7,20732.3,20782.5,20810.1,20851.1,20892.5,20940.6,20977.8,21010.4
11,Sheet 'MONTHLY' / Row 34,"Reefer Trailer Loadings (000s, SA)",NaN,2806.69,2782.04,2775.16,2760.59,2782.33,2799.05,2836.71,...,4518.99,4539.93,4555.96,4570.33,4582.07,4593.88,4604.77,4613.45,4623.48,4633.56
12,Sheet 'MONTHLY' / Row 37,"Flatbed Trailer Loadings (000s, SA)",NaN,4569.7,4621.96,4666.45,4739.93,4762.93,4747.64,4714.18,...,7434.31,7482.57,7521.94,7557.34,7588.73,7616.19,7639.68,7655.79,7673.93,7690.69
13,Sheet 'MONTHLY' / Row 43,"Tank Trailer Loadings (000s, SA)",NaN,5579.7,5534.44,5543.48,5779.74,5741.76,5723.67,5498.19,...,6696.14,6712.73,6735.63,6757.61,6780.27,6799.2,6816.01,6829.74,6843.01,6854.87
14,NaN,"Bulk Trailer/Straight Truck Loadings (000s, SA)",NaN,15317.8,15293.3,15599,15955.3,16111.1,15633.3,15866.4,...,24965.9,25087.1,25185.2,25272.7,25337.2,25412.5,25486.3,25571.6,25632.5,25682.1
15,NaN,Loadings by Commodity Group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Sheet 'MONTHLY' / Row 13,"Food & Kindred Products (000s, SA)",NaN,6534.13,6462.44,6495.54,6620.96,6604.79,6620.59,6623.57,...,9765.47,9808.56,9843.91,9875.96,9902.5,9929.63,9955.13,9977.27,10000.8,10024.1
17,Sheet 'MONTHLY' / Row 16,"Stone, Clay, Glass & Concrete (000s, SA)",NaN,3803.69,3854.63,3860.49,3897.84,3899.17,3895.22,3867.09,...,5660.66,5697.35,5726.96,5753.41,5776.99,5796.94,5813.53,5823.73,5835.89,5846.96
18,Sheet 'MONTHLY' / Row 19,"Nonmetallic Minerals, Except Fuels (000s, SA)",NaN,7045.18,6936.62,7216.58,7305.05,7401.99,7009.87,7170.63,...,10173.8,10254.7,10309.7,10357.5,10393.9,10430.5,10463.1,10490.2,10515.9,10538.7
19,Sheet 'MONTHLY' / Row 22,"Chemicals & Allied Products (000s, SA)",NaN,1934.32,1942.7,1947.25,2021.97,1998.65,2022.38,2009.46,...,2669.95,2679.26,2689.01,2697.23,2702.43,2708.72,2714.61,2720.83,2725.36,2728.94
20,Sheet 'MONTHLY' / Row 25,"Transportation Equipment (000s, SA)",NaN,2266.19,2388.15,2443.74,2353.58,2444.06,2428.26,2386.76,...,5143.91,5219.94,5241.36,5253.54,5239.98,5246.06,5255.28,5284.96,5287.47,5280.12
21,Sheet 'MONTHLY' / Row 28,"All Other Freight (000s, SA)",NaN,21340,21444.7,21605.6,22222.2,22330.4,22242,22146.3,...,30772.5,30835.2,30920.1,31002.8,31082.6,31161.1,31237.6,31314.2,31385.3,31452.9
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Loadings by Length-of-Haul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Short-Haul (<125 mi),NaN,12927.8,12925.1,13167.3,13397,13523.5,13119.2,13035.8,...,17279.8,17377,17450.5,17517.3,17577.6,17631.3,17678.2,17716.1,17751.7,17782.4
25,NaN,Medium-Haul (from 125 to 299 mi),NaN,11102.5,11041.6,11224.8,11438.4,11464.3,11395,11481.9,...,18035.2,18036.6,18070.9,18104.6,18134.6,18169.5,18206.2,18250.2,18286.4,18320.2
26,NaN,Long-Haul (from 300 to 549 mi),NaN,13325,13451.6,13612.5,13794.5,13847.8,13887.6,13846.3,...,22381.2,22557.7,22658.2,22741.9,22788.6,22854,22917.7,22992.4,23043.7,23084
27,NaN,Super Long-Haul (550+ mi),NaN,5568.14,5611.05,5564.58,5791.6,5843.4,5816.62,5839.84,...,6490.06,6523.79,6551.57,6576.61,6597.63,6618.2,6637.02,6652.51,6669,6684.93
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Truck Tonnage (thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Sheet 'MONTHLY' / Row 49,"FTR Heavy-Duty Truck Tonnage (000s, SA)",NaN,804705,802766,814675,830909,835046,820267,820535,...,1.13568e+06,1.13995e+06,1.14379e+06,1.14726e+06,1.15011e+06,1.15308e+06,1.15588e+06,1.1588e+06,1.1611e+06,1.16305e+06
31,Sheet 'MONTHLY' / Row 92,FTR Heavy-Duty Truck Tonnage Index (2000=100),NaN,77.2708,77.0846,78.2281,79.787,80.1842,78.7651,78.7909,...,109.052,109.463,109.831,110.164,110.438,110.723,110.992,111.272,111.493,111.68
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Rail Intermodal Loadings (Thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,"FTR Rail Intermodal Loadings (000, SA)",NaN,550.397,563.499,539.852,549.778,547.14,530.137,572.897,...,1339.63,1331.97,1327.61,1324.75,1323.38,1323.5,1325.11,1329.98,1333.25,1336.69
35,NaN,FTR Rail Intermodal Loadings Index (2000=100),NaN,72.2204,73.9395,70.8368,72.1392,71.7931,69.562,75.1727,...,175.78,174.775,174.203,173.827,173.648,173.663,173.875,174.514,174.943,175.394

In [256]:
# Transposing the dataframe
freight_m = freight_m.T
freight_m

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
U.S. Heavy Truck Freight,Monthly Data,NEW SOURCE:,NaN,Sheet 'MONTHLY' / Row 10,Sheet 'MONTHLY' / Row 53,NaN,NaN,Sheet 'MONTHLY' / Row 6,NaN,NaN,...,NaN,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 49,Sheet 'MONTHLY' / Row 92,NaN,NaN,NaN,NaN
Unnamed: 1,NaN,Seasonally Adjusted,Loadings (thousands),"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),NaN,Truck Utilization (%),"FTR Active Truck Utilization (%, SA)",NaN,Loadings by Trailer Type,...,Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),NaN,Truck Tonnage (thousands),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),NaN,Rail Intermodal Loadings (Thousands),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
Unnamed: 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,1992,JAN,NaN,42923.5,76.471,NaN,NaN,82.3826,NaN,NaN,...,13325,5568.14,NaN,NaN,804705,77.2708,NaN,NaN,550.397,72.2204
Unnamed: 4,1992,FEB,NaN,43029.3,76.6594,NaN,NaN,82.9727,NaN,NaN,...,13451.6,5611.05,NaN,NaN,802766,77.0846,NaN,NaN,563.499,73.9395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 358,2021,AUG,NaN,65272.9,116.288,NaN,NaN,94.5326,NaN,NaN,...,22854,6618.2,NaN,NaN,1.15308e+06,110.723,NaN,NaN,1323.5,173.663
Unnamed: 359,2021,SEP,NaN,65439.2,116.584,NaN,NaN,94.3116,NaN,NaN,...,22917.7,6637.02,NaN,NaN,1.15588e+06,110.992,NaN,NaN,1325.11,173.875
Unnamed: 360,2021,OCT,NaN,65611.2,116.891,NaN,NaN,94.1067,NaN,NaN,...,22992.4,6652.51,NaN,NaN,1.1588e+06,111.272,NaN,NaN,1329.98,174.514
Unnamed: 361,2021,NOV,NaN,65750.7,117.139,NaN,NaN,93.9079,NaN,NaN,...,23043.7,6669,NaN,NaN,1.1611e+06,111.493,NaN,NaN,1333.25,174.943
Unnamed: 362,2021,DEC,NaN,65871.6,117.355,NaN,NaN,93.7187,NaN,NaN,...,23084,6684.93,NaN,NaN,1.16305e+06,111.68,NaN,NaN,1336.69,175.394

In [257]:
# using the values in row 1 as column name
freight_m.columns = freight_m.iloc[1, :]
freight_m

Unnamed: 1,NaN,Seasonally Adjusted,Loadings (thousands),"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),NaN,Truck Utilization (%),"FTR Active Truck Utilization (%, SA)",NaN,Loadings by Trailer Type,...,Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),NaN,Truck Tonnage (thousands),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),NaN,Rail Intermodal Loadings (Thousands),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
U.S. Heavy Truck Freight,Monthly Data,NEW SOURCE:,NaN,Sheet 'MONTHLY' / Row 10,Sheet 'MONTHLY' / Row 53,NaN,NaN,Sheet 'MONTHLY' / Row 6,NaN,NaN,...,NaN,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 49,Sheet 'MONTHLY' / Row 92,NaN,NaN,NaN,NaN
Unnamed: 1,NaN,Seasonally Adjusted,Loadings (thousands),"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),NaN,Truck Utilization (%),"FTR Active Truck Utilization (%, SA)",NaN,Loadings by Trailer Type,...,Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),NaN,Truck Tonnage (thousands),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),NaN,Rail Intermodal Loadings (Thousands),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
Unnamed: 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,1992,JAN,NaN,42923.5,76.471,NaN,NaN,82.3826,NaN,NaN,...,13325,5568.14,NaN,NaN,804705,77.2708,NaN,NaN,550.397,72.2204
Unnamed: 4,1992,FEB,NaN,43029.3,76.6594,NaN,NaN,82.9727,NaN,NaN,...,13451.6,5611.05,NaN,NaN,802766,77.0846,NaN,NaN,563.499,73.9395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 358,2021,AUG,NaN,65272.9,116.288,NaN,NaN,94.5326,NaN,NaN,...,22854,6618.2,NaN,NaN,1.15308e+06,110.723,NaN,NaN,1323.5,173.663
Unnamed: 359,2021,SEP,NaN,65439.2,116.584,NaN,NaN,94.3116,NaN,NaN,...,22917.7,6637.02,NaN,NaN,1.15588e+06,110.992,NaN,NaN,1325.11,173.875
Unnamed: 360,2021,OCT,NaN,65611.2,116.891,NaN,NaN,94.1067,NaN,NaN,...,22992.4,6652.51,NaN,NaN,1.1588e+06,111.272,NaN,NaN,1329.98,174.514
Unnamed: 361,2021,NOV,NaN,65750.7,117.139,NaN,NaN,93.9079,NaN,NaN,...,23043.7,6669,NaN,NaN,1.1611e+06,111.493,NaN,NaN,1333.25,174.943
Unnamed: 362,2021,DEC,NaN,65871.6,117.355,NaN,NaN,93.7187,NaN,NaN,...,23084,6684.93,NaN,NaN,1.16305e+06,111.68,NaN,NaN,1336.69,175.394

In [258]:
freight_m = freight_m.drop(index=['Unnamed: 1'], axis=0)
freight_m = freight_m.reset_index()
freight_m = freight_m.drop('index', axis=1)
freight_m = freight_m.dropna(how='all', axis=1) # for removing columns having null values
freight_m = freight_m.drop(index=[0, 1], axis=0) # because row 0 has Nan and row 1 has just column names
freight_m = freight_m.rename(columns = {np.nan: 'Year', 'Seasonally Adjusted': 'Month'}) 
freight_m.reset_index(drop=True, inplace=True)
freight_m

Unnamed: 1,Year,Month,"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (2000=100),"FTR Active Truck Utilization (%, SA)","Dry Van Trailer Loadings (000s, SA)","Reefer Trailer Loadings (000s, SA)","Flatbed Trailer Loadings (000s, SA)","Tank Trailer Loadings (000s, SA)","Bulk Trailer/Straight Truck Loadings (000s, SA)",...,"Transportation Equipment (000s, SA)","All Other Freight (000s, SA)",Short-Haul (<125 mi),Medium-Haul (from 125 to 299 mi),Long-Haul (from 300 to 549 mi),Super Long-Haul (550+ mi),"FTR Heavy-Duty Truck Tonnage (000s, SA)",FTR Heavy-Duty Truck Tonnage Index (2000=100),"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (2000=100)
0,1992,JAN,42923.5,76.471,82.3826,14649.6,2806.69,4569.7,5579.7,15317.8,...,2266.19,21340,12927.8,11102.5,13325,5568.14,804705,77.2708,550.397,72.2204
1,1992,FEB,43029.3,76.6594,82.9727,14797.5,2782.04,4621.96,5534.44,15293.3,...,2388.15,21444.7,12925.1,11041.6,13451.6,5611.05,802766,77.0846,563.499,73.9395
2,1992,MAR,43569.2,77.6214,83.6622,14985.1,2775.16,4666.45,5543.48,15599,...,2443.74,21605.6,13167.3,11224.8,13612.5,5564.58,814675,78.2281,539.852,70.8368
3,1992,APR,44421.6,79.14,83.4209,15186,2760.59,4739.93,5779.74,15955.3,...,2353.58,22222.2,13397,11438.4,13794.5,5791.6,830909,79.787,549.778,72.1392
4,1992,MAY,44679.1,79.5987,83.693,15280.9,2782.33,4762.93,5741.76,16111.1,...,2444.06,22330.4,13523.5,11464.3,13847.8,5843.4,835046,80.1842,547.14,71.7931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2021,AUG,65272.9,116.288,94.5326,20851.1,4593.88,7616.19,6799.2,25412.5,...,5246.06,31161.1,17631.3,18169.5,22854,6618.2,1.15308e+06,110.723,1323.5,173.663
356,2021,SEP,65439.2,116.584,94.3116,20892.5,4604.77,7639.68,6816.01,25486.3,...,5255.28,31237.6,17678.2,18206.2,22917.7,6637.02,1.15588e+06,110.992,1325.11,173.875
357,2021,OCT,65611.2,116.891,94.1067,20940.6,4613.45,7655.79,6829.74,25571.6,...,5284.96,31314.2,17716.1,18250.2,22992.4,6652.51,1.1588e+06,111.272,1329.98,174.514
358,2021,NOV,65750.7,117.139,93.9079,20977.8,4623.48,7673.93,6843.01,25632.5,...,5287.47,31385.3,17751.7,18286.4,23043.7,6669,1.1611e+06,111.493,1333.25,174.943
359,2021,DEC,65871.6,117.355,93.7187,21010.4,4633.56,7690.69,6854.87,25682.1,...,5280.12,31452.9,17782.4,18320.2,23084,6684.93,1.16305e+06,111.68,1336.69,175.394

In [259]:
# Converting month names to numbers for uniformity
months = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07',
          'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}
freight_m['Month'] = freight_m['Month'].map(months)
freight_m['Year_Month'] = freight_m['Year'].astype(str) + '-' +  freight_m['Month']
freight_m = freight_m.drop(['Year', 'Month'], axis=1)
new_names = []
for i in freight_m.columns:
    new_names.append(i + '_freight_m_trucking')

In [260]:
new_names = []
for i in freight_m.columns:
    new_names.append(i + '_freight_m_trucking')
    
freight_m.columns = new_names
freight_m = freight_m.rename(columns = {'Year_Month_freight_m_trucking': 'Year_Month'})
freight_m

,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking","Dry Van Trailer Loadings (000s, SA)_freight_m_trucking","Reefer Trailer Loadings (000s, SA)_freight_m_trucking","Flatbed Trailer Loadings (000s, SA)_freight_m_trucking","Tank Trailer Loadings (000s, SA)_freight_m_trucking","Bulk Trailer/Straight Truck Loadings (000s, SA)_freight_m_trucking","Food & Kindred Products (000s, SA)_freight_m_trucking","Stone, Clay, Glass & Concrete (000s, SA)_freight_m_trucking",...,"All Other Freight (000s, SA)_freight_m_trucking",Short-Haul (<125 mi)_freight_m_trucking,Medium-Haul (from 125 to 299 mi)_freight_m_trucking,Long-Haul (from 300 to 549 mi)_freight_m_trucking,Super Long-Haul (550+ mi)_freight_m_trucking,"FTR Heavy-Duty Truck Tonnage (000s, SA)_freight_m_trucking",FTR Heavy-Duty Truck Tonnage Index (2000=100)_freight_m_trucking,"FTR Rail Intermodal Loadings (000, SA)_freight_m_trucking",FTR Rail Intermodal Loadings Index (2000=100)_freight_m_trucking,Year_Month
0,42923.5,76.471,82.3826,14649.6,2806.69,4569.7,5579.7,15317.8,6534.13,3803.69,...,21340,12927.8,11102.5,13325,5568.14,804705,77.2708,550.397,72.2204,1992-01
1,43029.3,76.6594,82.9727,14797.5,2782.04,4621.96,5534.44,15293.3,6462.44,3854.63,...,21444.7,12925.1,11041.6,13451.6,5611.05,802766,77.0846,563.499,73.9395,1992-02
2,43569.2,77.6214,83.6622,14985.1,2775.16,4666.45,5543.48,15599,6495.54,3860.49,...,21605.6,13167.3,11224.8,13612.5,5564.58,814675,78.2281,539.852,70.8368,1992-03
3,44421.6,79.14,83.4209,15186,2760.59,4739.93,5779.74,15955.3,6620.96,3897.84,...,22222.2,13397,11438.4,13794.5,5791.6,830909,79.787,549.778,72.1392,1992-04
4,44679.1,79.5987,83.693,15280.9,2782.33,4762.93,5741.76,16111.1,6604.79,3899.17,...,22330.4,13523.5,11464.3,13847.8,5843.4,835046,80.1842,547.14,71.7931,1992-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,65272.9,116.288,94.5326,20851.1,4593.88,7616.19,6799.2,25412.5,9929.63,5796.94,...,31161.1,17631.3,18169.5,22854,6618.2,1.15308e+06,110.723,1323.5,173.663,2021-08
356,65439.2,116.584,94.3116,20892.5,4604.77,7639.68,6816.01,25486.3,9955.13,5813.53,...,31237.6,17678.2,18206.2,22917.7,6637.02,1.15588e+06,110.992,1325.11,173.875,2021-09
357,65611.2,116.891,94.1067,20940.6,4613.45,7655.79,6829.74,25571.6,9977.27,5823.73,...,31314.2,17716.1,18250.2,22992.4,6652.51,1.1588e+06,111.272,1329.98,174.514,2021-10
358,65750.7,117.139,93.9079,20977.8,4623.48,7673.93,6843.01,25632.5,10000.8,5835.89,...,31385.3,17751.7,18286.4,23043.7,6669,1.1611e+06,111.493,1333.25,174.943,2021-11
359,65871.6,117.355,93.7187,21010.4,4633.56,7690.69,6854.87,25682.1,10024.1,5846.96,...,31452.9,17782.4,18320.2,23084,6684.93,1.16305e+06,111.68,1336.69,175.394,2021-12

### rates_m

In [261]:
rates_m = pd.read_excel(open('Trucking Database.xlsx', 'rb'), sheet_name='rates-m')
rates_m

,U.S. Freight Rates,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 353,Unnamed: 354,Unnamed: 355,Unnamed: 356,Unnamed: 357,Unnamed: 358,Unnamed: 359,Unnamed: 360,Unnamed: 361,Unnamed: 362
0,Monthly Data,NaN,NaN,1992,1992,1992,1992,1992,1992,1992,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
1,NEW SOURCE:,"2008Q1=100, Seasonally Adjusted",NaN,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
2,NaN,Truckload (TL) Rates (rev/mi),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sheet 'MONTHLY' / Row 96,Spot TL Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,131.428,127.747,126.157,125.323,126.415,126.22,125.906,125.286,124.875,124.486
4,NaN,Spot TL Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,146.719,142.73,141.061,140.225,141.512,141.373,141.099,140.464,140.088,139.745
5,Sheet 'MONTHLY' / Row 99,Contract TL Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136.109,137.096,138.033,138.912,139.763,140.505,141.168,141.882,142.288,142.518
6,NaN,Contract TL Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151.807,152.995,154.119,155.17,156.14,157.054,157.904,158.87,159.453,159.834
7,Sheet 'MONTHLY' / Row 102,Total TL Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,134.386,133.655,133.661,133.91,134.849,135.246,135.55,135.772,135.878,135.88
8,Sheet 'MONTHLY' / Row 105,Total TL Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,149.934,149.216,149.312,149.668,150.755,151.281,151.717,152.094,152.324,152.439
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Sheet 'MONTHLY' / Row 108,Spot TL Dry Van Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,127.531,124.245,122.641,121.784,122.907,122.617,122.149,121.177,120.594,120.075
11,NaN,Spot TL Dry Van Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,142.97,139.35,137.651,136.78,138.097,137.863,137.438,136.47,135.925,135.453
12,Sheet 'MONTHLY' / Row 111,Contract TL Dry Van Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133.563,134.254,134.908,135.53,136.046,136.661,137.302,138.305,138.742,138.95
13,NaN,Contract TL Dry Van Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,149.726,150.578,151.417,152.214,152.858,153.653,154.488,155.76,156.38,156.744
14,Sheet 'MONTHLY' / Row 114,Total TL Dry Van Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,131.308,130.513,130.322,130.392,131.134,131.412,131.638,131.903,131.958,131.894
15,Sheet 'MONTHLY' / Row 117,Total TL Dry Van Rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,147.201,146.381,146.271,146.445,147.34,147.75,148.115,148.549,148.734,148.785
16,Sheet 'MONTHLY' / Row 120,Spot TL Reefer Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.908,133.329,132.089,131.436,132.29,132.126,131.861,131.361,130.996,130.633
17,NaN,Spot TL Reefer Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150.327,147.536,146.257,145.62,146.619,146.523,146.326,145.89,145.592,145.295
18,Sheet 'MONTHLY' / Row 123,Contract TL Reefer Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,138.528,139.796,140.662,141.361,141.626,142.193,142.793,143.809,144.191,144.321
19,NaN,Contract TL Reefer Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,153.22,154.694,155.748,156.612,156.965,157.687,158.458,159.716,160.257,160.519
20,Sheet 'MONTHLY' / Row 126,Total TL Reefer Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137.556,137.396,137.48,137.678,138.161,138.456,138.736,139.189,139.294,139.241
21,Sheet 'MONTHLY' / Row 129,Total TL Reefer Rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,152.147,152.037,152.226,152.533,153.125,153.544,153.955,154.584,154.814,154.869
22,Sheet 'MONTHLY' / Row 132,Spot TL Flatbed Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,134.247,129.631,127.983,127.141,128.275,128.166,127.984,127.641,127.38,127.113
23,NaN,Spot TL Flatbed Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150.507,145.404,143.66,142.811,144.142,144.115,144.018,143.764,143.588,143.406
24,Sheet 'MONTHLY' / Row 135,Contract TL Flatbed Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133.963,135.216,136.407,137.536,138.788,139.653,140.317,140.647,141.007,141.267
25,NaN,Contract TL Flatbed Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150.187,151.671,153.115,154.482,155.954,157.031,157.895,158.412,158.949,159.373
26,Sheet 'MONTHLY' / Row 138,Total TL Flatbed Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,134.067,133.164,133.313,133.718,134.926,135.434,135.787,135.87,136.002,136.068
27,Sheet 'MONTHLY' / Row 141,Total TL Flatbed Rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150.304,149.369,149.642,150.195,151.616,152.287,152.798,153.032,153.307,153.509
28,Sheet 'MONTHLY' / Row 144,Spot TL Special Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,127.174,123.293,121.726,120.925,122.004,121.9,121.727,121.401,121.153,120.898
29,NaN,Spot TL Special Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,141.548,137.29,135.638,134.83,136.084,136.053,135.955,135.708,135.536,135.357
30,Sheet 'MONTHLY' / Row 147,Contract TL Special Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,132.436,133.675,134.853,135.969,137.206,138.061,138.718,139.044,139.401,139.657
31,NaN,Contract TL Special Rates w/Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,147.401,148.853,150.264,151.599,153.04,154.091,154.932,155.43,155.95,156.358
32,Sheet 'MONTHLY' / Row 150,Total TL Special Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,130.511,129.877,130.05,130.465,131.644,132.149,132.502,132.589,132.725,132.794
33,Sheet 'MONTHLY' / Row 153,Total TL Special Rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,145.26,144.623,144.913,145.464,146.837,147.492,147.989,148.215,148.481,148.675
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Less-Than-Truckload (LTL) Rates (rev/ton),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Sheet 'MONTHLY' / Row 162,Total LTL (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109.139,109.238,109.419,109.571,109.672,109.784,109.884,110.211,110.109,109.816
37,Sheet 'MONTHLY' / Row 165,Total LTL (w/ FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.433,121.586,121.844,122.066,122.21,122.394,122.576,123.006,122.996,122.796
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,Intermodal (Rail + Drayage) Rates (rev/load),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,Total Intermodal (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,125.751,126.065,126.274,126.46,126.579,126.747,126.922,127.155,127.306,127.426
41,NaN,Total Intermodal (w/ FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.369,135.688,135.951,136.198,136.391,136.633,136.886,137.215,137.443,137.633
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,MEMO: Tank Truckload (TL) Rates (rev/mi),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Sheet 'MONTHLY' / Row 156,Contract TL Tank Rates (w/o FSC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,117.502,117.937,118.832,119.971,121.898,123.12,124.18,125.014,125.795,126.461
45,Sheet 'MONTHLY' / Row 159,Contract TL Tank Rates w/FSC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,130.781,131.327,132.412,133.763,135.966,137.415,138.694,139.747,140.729,141.584

In [262]:
# Transposing the dataframe
rates_m = rates_m.T
rates_m

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
U.S. Freight Rates,Monthly Data,NEW SOURCE:,NaN,Sheet 'MONTHLY' / Row 96,NaN,Sheet 'MONTHLY' / Row 99,NaN,Sheet 'MONTHLY' / Row 102,Sheet 'MONTHLY' / Row 105,NaN,...,Sheet 'MONTHLY' / Row 162,Sheet 'MONTHLY' / Row 165,NaN,NaN,NaN,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 156,Sheet 'MONTHLY' / Row 159
Unnamed: 1,NaN,"2008Q1=100, Seasonally Adjusted",Truckload (TL) Rates (rev/mi),Spot TL Rates (w/o FSC),Spot TL Rates w/Fuel,Contract TL Rates (w/o FSC),Contract TL Rates w/Fuel,Total TL Rates (w/o FSC),Total TL Rates w/Fuel,NaN,...,Total LTL (w/o FSC),Total LTL (w/ FSC),NaN,Intermodal (Rail + Drayage) Rates (rev/load),Total Intermodal (w/o FSC),Total Intermodal (w/ FSC),NaN,MEMO: Tank Truckload (TL) Rates (rev/mi),Contract TL Tank Rates (w/o FSC),Contract TL Tank Rates w/FSC
Unnamed: 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,1992,JAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 4,1992,FEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 358,2021,AUG,NaN,126.22,141.373,140.505,157.054,135.246,151.281,NaN,...,109.784,122.394,NaN,NaN,126.747,136.633,NaN,NaN,123.12,137.415
Unnamed: 359,2021,SEP,NaN,125.906,141.099,141.168,157.904,135.55,151.717,NaN,...,109.884,122.576,NaN,NaN,126.922,136.886,NaN,NaN,124.18,138.694
Unnamed: 360,2021,OCT,NaN,125.286,140.464,141.882,158.87,135.772,152.094,NaN,...,110.211,123.006,NaN,NaN,127.155,137.215,NaN,NaN,125.014,139.747
Unnamed: 361,2021,NOV,NaN,124.875,140.088,142.288,159.453,135.878,152.324,NaN,...,110.109,122.996,NaN,NaN,127.306,137.443,NaN,NaN,125.795,140.729
Unnamed: 362,2021,DEC,NaN,124.486,139.745,142.518,159.834,135.88,152.439,NaN,...,109.816,122.796,NaN,NaN,127.426,137.633,NaN,NaN,126.461,141.584

In [263]:
rates_m.columns = rates_m.iloc[1, :]
rates_m = rates_m.reset_index()
rates_m= rates_m.drop('index', axis=1)
rates_m = rates_m.dropna(how='all', axis=1) # for removing columns having null values
rates_m = rates_m.drop(index=[0, 1, 2], axis=0) # because row 0 has Nan and row 1 has just column names
rates_m = rates_m.rename(columns = {np.nan: 'Year', '2008Q1=100, Seasonally Adjusted': 'Month'}) 
rates_m.reset_index(drop=True, inplace=True)
rates_m

Unnamed: 1,Year,Month,Truckload (TL) Rates (rev/mi),Spot TL Rates (w/o FSC),Spot TL Rates w/Fuel,Contract TL Rates (w/o FSC),Contract TL Rates w/Fuel,Total TL Rates (w/o FSC),Total TL Rates w/Fuel,Spot TL Dry Van Rates (w/o FSC),...,Total TL Special Rates,Less-Than-Truckload (LTL) Rates (rev/ton),Total LTL (w/o FSC),Total LTL (w/ FSC),Intermodal (Rail + Drayage) Rates (rev/load),Total Intermodal (w/o FSC),Total Intermodal (w/ FSC),MEMO: Tank Truckload (TL) Rates (rev/mi),Contract TL Tank Rates (w/o FSC),Contract TL Tank Rates w/FSC
0,1992,JAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992,FEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992,MAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992,APR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992,MAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2021,AUG,NaN,126.22,141.373,140.505,157.054,135.246,151.281,122.617,...,147.492,NaN,109.784,122.394,NaN,126.747,136.633,NaN,123.12,137.415
356,2021,SEP,NaN,125.906,141.099,141.168,157.904,135.55,151.717,122.149,...,147.989,NaN,109.884,122.576,NaN,126.922,136.886,NaN,124.18,138.694
357,2021,OCT,NaN,125.286,140.464,141.882,158.87,135.772,152.094,121.177,...,148.215,NaN,110.211,123.006,NaN,127.155,137.215,NaN,125.014,139.747
358,2021,NOV,NaN,124.875,140.088,142.288,159.453,135.878,152.324,120.594,...,148.481,NaN,110.109,122.996,NaN,127.306,137.443,NaN,125.795,140.729
359,2021,DEC,NaN,124.486,139.745,142.518,159.834,135.88,152.439,120.075,...,148.675,NaN,109.816,122.796,NaN,127.426,137.633,NaN,126.461,141.584

In [264]:
# Converting month names to numbers for uniformity
months = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07',
          'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}
rates_m['Month'] = rates_m['Month'].map(months)
rates_m['Year_Month'] = rates_m['Year'].astype(str) + '-' +  rates_m['Month']
rates_m = rates_m.drop(['Year', 'Month'], axis=1)
new_names = []
for i in rates_m.columns:
    new_names.append(i + '_rates_m_trucking')
    
rates_m.columns = new_names
rates_m = rates_m.rename(columns = {'Year_Month_rates_m_trucking': 'Year_Month'})
rates_m

,Truckload (TL) Rates (rev/mi)_rates_m_trucking,Spot TL Rates (w/o FSC)_rates_m_trucking,Spot TL Rates w/Fuel_rates_m_trucking,Contract TL Rates (w/o FSC)_rates_m_trucking,Contract TL Rates w/Fuel_rates_m_trucking,Total TL Rates (w/o FSC)_rates_m_trucking,Total TL Rates w/Fuel_rates_m_trucking,Spot TL Dry Van Rates (w/o FSC)_rates_m_trucking,Spot TL Dry Van Rates w/Fuel_rates_m_trucking,Contract TL Dry Van Rates (w/o FSC)_rates_m_trucking,...,Less-Than-Truckload (LTL) Rates (rev/ton)_rates_m_trucking,Total LTL (w/o FSC)_rates_m_trucking,Total LTL (w/ FSC)_rates_m_trucking,Intermodal (Rail + Drayage) Rates (rev/load)_rates_m_trucking,Total Intermodal (w/o FSC)_rates_m_trucking,Total Intermodal (w/ FSC)_rates_m_trucking,MEMO: Tank Truckload (TL) Rates (rev/mi)_rates_m_trucking,Contract TL Tank Rates (w/o FSC)_rates_m_trucking,Contract TL Tank Rates w/FSC_rates_m_trucking,Year_Month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-01
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-02
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-03
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-04
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,NaN,126.22,141.373,140.505,157.054,135.246,151.281,122.617,137.863,136.661,...,NaN,109.784,122.394,NaN,126.747,136.633,NaN,123.12,137.415,2021-08
356,NaN,125.906,141.099,141.168,157.904,135.55,151.717,122.149,137.438,137.302,...,NaN,109.884,122.576,NaN,126.922,136.886,NaN,124.18,138.694,2021-09
357,NaN,125.286,140.464,141.882,158.87,135.772,152.094,121.177,136.47,138.305,...,NaN,110.211,123.006,NaN,127.155,137.215,NaN,125.014,139.747,2021-10
358,NaN,124.875,140.088,142.288,159.453,135.878,152.324,120.594,135.925,138.742,...,NaN,110.109,122.996,NaN,127.306,137.443,NaN,125.795,140.729,2021-11
359,NaN,124.486,139.745,142.518,159.834,135.88,152.439,120.075,135.453,138.95,...,NaN,109.816,122.796,NaN,127.426,137.633,NaN,126.461,141.584,2021-12

### Indicator_m

In [265]:
indicators_m = pd.read_excel(open('Trucking Database.xlsx', 'rb'), sheet_name='indicators-m')
indicators_m

,U.S. Monthly Indicators,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 340,Unnamed: 341,Unnamed: 342,Unnamed: 343,Unnamed: 344,Unnamed: 345,Unnamed: 346,Unnamed: 347,Unnamed: 348,Unnamed: 349
0,Monthly Data,NaN,NaN,1992,1992,1992,1992,1992,1992,1992,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
1,NEW SOURCE:,ID,Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV
2,Sheet 'MONTHLY' / Rows 375+,"Heavy-Duty Trucks, North America",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sheet 'MONTHLY' / Row 420,"OEM Net Orders (U.S. / CAN, units)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12676,6854,3688,6241,15104,19213,18302,28766,36912,49818
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Sheet 'MONTHLY' / Row 421,"New Truck Lead Time (N.A. Backlog/Build Ratio,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.52482,5.69757,38.672,13.5036,4.74906,4.85359,4.73541,4.40414,4.92991,6.8962
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Industrial Production (2002=100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Sheet 'MONTHLY' / Row 413,B50001,Total IP Index,63.3374,63.7911,64.3212,64.8088,65.0202,65.0295,65.6172,...,109.297,104.522,91.2658,92.0613,97.8019,101.892,102.662,102.601,103.573,103.982
10,Sheet 'MONTHLY' / Row 416,GMFD,Durable Manufacturing Index,41.4923,42.3678,42.8058,43.1439,43.6509,43.6361,44.1445,...,108.101,99.7374,77.8451,83.1326,93.6033,100.321,101.38,101.54,102.557,104.089
11,Sheet 'MONTHLY' / Row 415,GMFN,Non-Durable Manufacturing Index,93.2655,92.9492,93.9328,94.2019,94.1043,94.7534,95.3686,...,103.961,101.815,91.9761,93.1212,96.3691,97.5812,99.2991,99.1395,100.513,100.578
12,Sheet 'MONTHLY' / Row 414,GMF,Total Manufacturing Index,59.2972,59.8786,60.5043,60.8433,61.2039,61.3837,61.9549,...,106.103,100.803,84.8494,88.0935,94.9994,98.9978,100.383,100.385,101.579,102.385
13,NaN,G311,Food Index,81.7305,81.1607,81.2563,81.8869,81.8924,82.4293,82.9265,...,116.983,115.913,104.668,106.82,112.308,112.432,114.071,113.952,114.758,115.427
14,NaN,G325,Chemicals Index,79.0409,78.9897,79.77,79.9827,79.2751,80.3908,81.0651,...,99.4692,99.7934,93.7259,93.2928,94.0282,95.642,96.8567,96.4458,97.7867,97.3144
15,NaN,G332,Fabricated Metal Product Index,76.9733,78.0188,77.9293,78.4044,79.2963,79.2826,79.2505,...,103.974,99.8502,88.5229,90.6706,92.5223,92.2754,93.6211,95.8283,95.6011,96.0137
16,NaN,G33611,Automobile and Light-Duty Vehicles Index,49.7661,56.2704,58.7673,60.628,64.8041,61.8818,67.9079,...,138.758,85.5587,1.0118,26.7841,101.633,150.456,137.8,128.668,126.495,136.568
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Business Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Sheet 'MONTHLY' / Row 399,PAYEMS,Payroll Employment (000's),108369,108311,108365,108519,108649,108715,108793,...,152463,151090,130303,133028,137809,139570,141063,141774,142384,142629
20,Sheet 'MONTHLY' / Row 376,ISM,ISM Manufacturing Index,47.3,52.7,54.6,52.6,55.7,53.6,53.9,...,50.1,49.1,41.5,43.1,52.6,54.2,56,55.4,59.3,57.5
21,Sheet 'MONTHLY' / Row 422,PORTEU,West Coast Port Container Activity (TEU's),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1475067,1359335,1604615,1579260,1715055,2034822,2.23436e+06,2.09787e+06,2.24267e+06,2.06444e+06
22,Sheet 'MONTHLY' / Row 423,CASS,Cass Freight Shipments Index (1992=100),0.877,0.928,0.923,0.918,0.873,0.901,0.856,...,1.085,1.087,0.923,0.938,0.971,1.018,1.099,1.177,1.18,NaN
23,Sheet 'MONTHLY' / Row 403,USCONS,Construction Employment (000's),4667,4612,4621,4603,4605,4584,4570,...,7639,7574,6556,7012,7171,7202,7226,7261,7333,7360
24,Sheet 'MONTHLY' / Row 402,MANEMP,Manufacturing Employment (000's),16839,16829,16805,16831,16835,16826,16819,...,12852,12806,11489,11729,12062,12103,12133,12193,12226,12253
25,Sheet 'MONTHLY' / Row 401,USTRADE,Retail Trade Employment (000's),12819,12824,12824,12843,12842,12849,12827,...,15672,15587,13288,13674,14532,14785,15046,15062,15157,15122
26,Sheet 'MONTHLY' / Row 404,TTWEMP,Total Transp. and Warehouse Emp. (000's),3444,3445,3449,3454,3452,3459,3456,...,5678,5668,5108,5083,5171,5219,5304,5348,5410,5555
27,Sheet 'MONTHLY' / Row 405,TRUCKEMP,Truck Transportation Employment (000's),1102,1099,1100,1102,1105,1108,1106,...,1527,1523,1431,1432,1437,1440,1450,1454,1462,1474
28,NaN,OTHERTRANEMP,Other Transportation Employment (000's),2342,2346,2349,2352,2347,2351,2350,...,4151,4145,3677,3651,3734,3779,3854,3894,3948,4081
29,Sheet 'MONTHLY' / Row 398,UNRATE,Unemployment Rate (%),7.3,7.4,7.4,7.4,7.6,7.8,7.7,...,3.5,4.4,14.7,13.3,11.1,10.2,8.4,7.9,6.9,6.7
30,Sheet 'MONTHLY' / Row 377,LEI,Leading Economic Indicators (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.2,-7.4,-6.3,3.2,3,2,1.6,0.7,0.8,0.6
31,NaN,SPREAD,Interest Rate Spread (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.16,2.43,2.49,3.08,3.05,3.07,3.1,3.12,3.13,3.09
32,Sheet 'MONTHLY' / Row 378,ISRATIO,Total Bus. Inventories/Retail Sales Ratio,1.56,1.56,1.53,1.53,1.52,1.52,1.51,...,1.38,1.45,1.67,1.5,1.37,1.33,1.32,1.32,1.31,NaN
33,Sheet 'MONTHLY' / Row 379,BUSINV,Business Inventories (Mil $),808292,809600,812725,815453,815016,820447,825098,...,2013829,2007046,1979748,1933282,1912335,1914153,1919935,1934866,1948724,NaN
34,Sheet 'MONTHLY' / Row 380,DGO,Durable Goods Orders (Mil $),NaN,114535,120025,124470,125822,122834,122590,...,246195,205020,167502,192605,207474,231914,232933,237786,240978,NaN
35,Sheet 'MONTHLY' / Row 381,NDCGO,Nondefense Capital Goods Orders (Mil $),NaN,33857,35258,35992,36811,36666,36629,...,66453,65608,61299,62226,64885,66585,68184,69507,70064,NaN
36,Sheet 'MONTHLY' / Row 382,CF3M,Chicago Fed National Activity Index 3MMA,-0.396667,-0.24,0.15,0.25,0.196667,0.0666667,0.126667,...,-0.116667,-1.48,-7.35667,-5.93333,-2.52667,4.28,3.21667,1.36667,0.75,NaN
37,NaN,SP500,S&P 500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3277.31,2652.39,2761.98,2919.62,3104.66,3207.62,3391.71,3365.52,3418.7,3548.99
38,Sheet 'MONTHLY' / Row 383,TOTCON,Total Construction Spending (Mil $),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1441145,1436727,1387936,1369363,1383647,1398952,1426884,1420355,1438515,NaN
39,Sheet 'MONTHLY' / Row 394,PUBCON,Public Construction Spending (Mil $),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,352364,360441,351318,358697,355366,349291,343677,341411,344785,NaN
40,Sheet 'MONTHLY' / Row 395,RESCON,Private Residential Construction (Mil $),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592960,588060,562339,539555,553721,575451,615396,619090,637138,NaN
41,Sheet 'MONTHLY' / Row 396,NRCON,Private Non-Residential Construction (Mil $),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,495821,488226,474279,471111,474560,474210,467811,459854,456592,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,Consumer Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Sheet 'MONTHLY' / Row 388,HST,Housing Starts (000's),1176,1250,1297,1099,1214,1145,1139,...,1567,1269,934,1038,1265,1487,1373,1459,1530,NaN
45,Sheet 'MONTHLY' / Row 389,RS,Retail Sales (Mil $),164095,164213,163721,164709,165612,166077,167257,...,527273,483949,412766,488218,529962,535923,543404,552767,552484,546504
46,Sheet 'MONTHLY' / Row 390,CPIALL,Consumer Price Index,138.3,138.6,139.1,139.4,139.7,140.1,140.5,...,259.05,257.953,255.902,255.768,257.214,258.723,259.681,260.209,260.325,260.817
47,Sheet 'MONTHLY' / Row 391,CBINDEX,Consumer Confidence (Conference Board),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,132.6,118.8,85.7,85.9,98.3,91.7,86.3,101.3,101.4,96.1
48,Sheet 'MONTHLY' / Row 392,BPT,Building Permits (000's),1077,1146,1082,1054,1056,1057,1089,...,1438,1356,1066,1216,1258,1483,1476,1545,1544,NaN
49,Sheet 'MONTHLY' / Row 393,NHS,New Home Sales (000's),676,639,553,546,554,596,627,...,716,612,570,698,840,979,1001,1002,999,NaN
50,Sheet 'MONTHLY' / Row 394,EHS,Existing Home Sales (000's),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5760,5270,4330,3910,4720,5860,6000,6540,6850,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,Oil & Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Sheet 'MONTHLY' / Row 352,D/GAL,National Avg. Diesel/Gal.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.91,2.729,2.493,2.392,2.408,2.434,2.429,2.414,2.389,2.432
54,NaN,D/STOCK,Distillate Fuel Inventories (Mil Barrels/Day),126733,108773,97676,92131,96425,104473,114639,...,132740,126713,150709,175899,175427,177561,178914,171718,161588,145466
55,na,WTICO,W. Texas Int. Crude Oil ($Bbl.),18.79,19.01,18.92,20.23,20.98,22.39,21.78,...,50.54,29.21,16.55,28.56,38.31,40.71,42.34,39.63,39.4,40.94

In [266]:
# Transposing the dataframe
indicators_m = indicators_m.T
indicators_m

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
U.S. Monthly Indicators,Monthly Data,NEW SOURCE:,Sheet 'MONTHLY' / Rows 375+,Sheet 'MONTHLY' / Row 420,NaN,Sheet 'MONTHLY' / Row 421,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 413,...,Sheet 'MONTHLY' / Row 390,Sheet 'MONTHLY' / Row 391,Sheet 'MONTHLY' / Row 392,Sheet 'MONTHLY' / Row 393,Sheet 'MONTHLY' / Row 394,NaN,NaN,Sheet 'MONTHLY' / Row 352,NaN,na
Unnamed: 1,NaN,ID,"Heavy-Duty Trucks, North America","OEM Net Orders (U.S. / CAN, units)",NaN,"New Truck Lead Time (N.A. Backlog/Build Ratio,...",NaN,NaN,Industrial Production (2002=100),B50001,...,CPIALL,CBINDEX,BPT,NHS,EHS,NaN,Oil & Fuel,D/GAL,D/STOCK,WTICO
Unnamed: 2,NaN,Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total IP Index,...,Consumer Price Index,Consumer Confidence (Conference Board),Building Permits (000's),New Home Sales (000's),Existing Home Sales (000's),NaN,NaN,National Avg. Diesel/Gal.,Distillate Fuel Inventories (Mil Barrels/Day),W. Texas Int. Crude Oil ($Bbl.)
Unnamed: 3,1992,JAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.3374,...,138.3,NaN,1077,676,NaN,NaN,NaN,NaN,126733,18.79
Unnamed: 4,1992,FEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.7911,...,138.6,NaN,1146,639,NaN,NaN,NaN,NaN,108773,19.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 345,2020,JUL,NaN,19213,NaN,4.85359,NaN,NaN,NaN,101.892,...,258.723,91.7,1483,979,5860,NaN,NaN,2.434,177561,40.71
Unnamed: 346,2020,AUG,NaN,18302,NaN,4.73541,NaN,NaN,NaN,102.662,...,259.681,86.3,1476,1001,6000,NaN,NaN,2.429,178914,42.34
Unnamed: 347,2020,SEP,NaN,28766,NaN,4.40414,NaN,NaN,NaN,102.601,...,260.209,101.3,1545,1002,6540,NaN,NaN,2.414,171718,39.63
Unnamed: 348,2020,OCT,NaN,36912,NaN,4.92991,NaN,NaN,NaN,103.573,...,260.325,101.4,1544,999,6850,NaN,NaN,2.389,161588,39.4
Unnamed: 349,2020,NOV,NaN,49818,NaN,6.8962,NaN,NaN,NaN,103.982,...,260.817,96.1,NaN,NaN,NaN,NaN,NaN,2.432,145466,40.94

In [267]:
indicators_m.columns = indicators_m.iloc[1, :]
indicators_m = indicators_m.reset_index()
indicators_m = indicators_m.drop('index', axis=1)
indicators_m = indicators_m.dropna(how='all', axis=1) # for removing columns having null values
indicators_m = indicators_m.drop(index=[0, 1, 2], axis=0) # because row 0 has Nan and row 1 has just column names 
indicators_m = indicators_m.rename(columns = {np.nan: 'Year', 'ID': 'Month'}) 
indicators_m.reset_index(drop=True, inplace=True)
indicators_m

Unnamed: 1,Year,Month,"Heavy-Duty Trucks, North America","OEM Net Orders (U.S. / CAN, units)","New Truck Lead Time (N.A. Backlog/Build Ratio, months)",Industrial Production (2002=100),B50001,GMFD,GMFN,GMF,...,RS,CPIALL,CBINDEX,BPT,NHS,EHS,Oil & Fuel,D/GAL,D/STOCK,WTICO
0,1992,JAN,NaN,NaN,NaN,NaN,63.3374,41.4923,93.2655,59.2972,...,164095,138.3,NaN,1077,676,NaN,NaN,NaN,126733,18.79
1,1992,FEB,NaN,NaN,NaN,NaN,63.7911,42.3678,92.9492,59.8786,...,164213,138.6,NaN,1146,639,NaN,NaN,NaN,108773,19.01
2,1992,MAR,NaN,NaN,NaN,NaN,64.3212,42.8058,93.9328,60.5043,...,163721,139.1,NaN,1082,553,NaN,NaN,NaN,97676,18.92
3,1992,APR,NaN,NaN,NaN,NaN,64.8088,43.1439,94.2019,60.8433,...,164709,139.4,NaN,1054,546,NaN,NaN,NaN,92131,20.23
4,1992,MAY,NaN,NaN,NaN,NaN,65.0202,43.6509,94.1043,61.2039,...,165612,139.7,NaN,1056,554,NaN,NaN,NaN,96425,20.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,2020,JUL,NaN,19213,4.85359,NaN,101.892,100.321,97.5812,98.9978,...,535923,258.723,91.7,1483,979,5860,NaN,2.434,177561,40.71
343,2020,AUG,NaN,18302,4.73541,NaN,102.662,101.38,99.2991,100.383,...,543404,259.681,86.3,1476,1001,6000,NaN,2.429,178914,42.34
344,2020,SEP,NaN,28766,4.40414,NaN,102.601,101.54,99.1395,100.385,...,552767,260.209,101.3,1545,1002,6540,NaN,2.414,171718,39.63
345,2020,OCT,NaN,36912,4.92991,NaN,103.573,102.557,100.513,101.579,...,552484,260.325,101.4,1544,999,6850,NaN,2.389,161588,39.4
346,2020,NOV,NaN,49818,6.8962,NaN,103.982,104.089,100.578,102.385,...,546504,260.817,96.1,NaN,NaN,NaN,NaN,2.432,145466,40.94

In [268]:
# Converting month names to numbers for uniformity
months = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07',
          'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}
indicators_m['Month'] = indicators_m['Month'].map(months)
indicators_m['Year_Month'] = indicators_m['Year'].astype(str) + '-' +  indicators_m['Month']
indicators_m = indicators_m.drop(['Year', 'Month'], axis=1)
new_names = []
for i in indicators_m.columns:
    new_names.append(i + '_indicators_m_trucking')
    
indicators_m.columns = new_names
indicators_m = indicators_m.rename(columns = {'Year_Month_indicators_m_trucking': 'Year_Month'})
indicators_m

,"Heavy-Duty Trucks, North America_indicators_m_trucking","OEM Net Orders (U.S. / CAN, units)_indicators_m_trucking","New Truck Lead Time (N.A. Backlog/Build Ratio, months)_indicators_m_trucking",Industrial Production (2002=100)_indicators_m_trucking,B50001_indicators_m_trucking,GMFD_indicators_m_trucking,GMFN_indicators_m_trucking,GMF_indicators_m_trucking,G311_indicators_m_trucking,G325_indicators_m_trucking,...,CPIALL_indicators_m_trucking,CBINDEX_indicators_m_trucking,BPT_indicators_m_trucking,NHS_indicators_m_trucking,EHS_indicators_m_trucking,Oil & Fuel_indicators_m_trucking,D/GAL_indicators_m_trucking,D/STOCK_indicators_m_trucking,WTICO_indicators_m_trucking,Year_Month
0,NaN,NaN,NaN,NaN,63.3374,41.4923,93.2655,59.2972,81.7305,79.0409,...,138.3,NaN,1077,676,NaN,NaN,NaN,126733,18.79,1992-01
1,NaN,NaN,NaN,NaN,63.7911,42.3678,92.9492,59.8786,81.1607,78.9897,...,138.6,NaN,1146,639,NaN,NaN,NaN,108773,19.01,1992-02
2,NaN,NaN,NaN,NaN,64.3212,42.8058,93.9328,60.5043,81.2563,79.77,...,139.1,NaN,1082,553,NaN,NaN,NaN,97676,18.92,1992-03
3,NaN,NaN,NaN,NaN,64.8088,43.1439,94.2019,60.8433,81.8869,79.9827,...,139.4,NaN,1054,546,NaN,NaN,NaN,92131,20.23,1992-04
4,NaN,NaN,NaN,NaN,65.0202,43.6509,94.1043,61.2039,81.8924,79.2751,...,139.7,NaN,1056,554,NaN,NaN,NaN,96425,20.98,1992-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,NaN,19213,4.85359,NaN,101.892,100.321,97.5812,98.9978,112.432,95.642,...,258.723,91.7,1483,979,5860,NaN,2.434,177561,40.71,2020-07
343,NaN,18302,4.73541,NaN,102.662,101.38,99.2991,100.383,114.071,96.8567,...,259.681,86.3,1476,1001,6000,NaN,2.429,178914,42.34,2020-08
344,NaN,28766,4.40414,NaN,102.601,101.54,99.1395,100.385,113.952,96.4458,...,260.209,101.3,1545,1002,6540,NaN,2.414,171718,39.63,2020-09
345,NaN,36912,4.92991,NaN,103.573,102.557,100.513,101.579,114.758,97.7867,...,260.325,101.4,1544,999,6850,NaN,2.389,161588,39.4,2020-10
346,NaN,49818,6.8962,NaN,103.982,104.089,100.578,102.385,115.427,97.3144,...,260.817,96.1,NaN,NaN,NaN,NaN,2.432,145466,40.94,2020-11

### driver_indicators_m

In [269]:
driver_indicators_m = pd.read_excel(open('Trucking Database.xlsx', 'rb'), sheet_name='driver_indicators-m')
driver_indicators_m

,U.S. Monthly Indicators - History,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 340,Unnamed: 341,Unnamed: 342,Unnamed: 343,Unnamed: 344,Unnamed: 345,Unnamed: 346,Unnamed: 347,Unnamed: 348,Unnamed: 349
0,Monthly Data,NaN,NaN,1992,1992,1992,1992,1992,1992,1992,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
1,NEW SOURCE:,ID,Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV
2,NaN,Employment Data (BLS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sheet 'MONTHLY' / Row 398,UNRATE,Unemployment Rate (%),7.3,7.4,7.4,7.4,7.6,7.8,7.7,...,3.5,4.4,14.7,13.3,11.1,10.2,8.4,7.9,6.9,6.7
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Sheet 'MONTHLY' / Row 399,PAYEMS,Payroll Employment (000's),108369,108311,108365,108519,108649,108715,108793,...,152463,151090,130303,133028,137809,139570,141063,141774,142384,142629
6,NaN,NaN,Change in Payroll Employment (000's),NaN,-58,54,154,130,66,78,...,251,-1373,-20787,2725,4781,1761,1493,711,610,245
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Sheet 'MONTHLY' / Row 400,SRVPRD,Service Providing Employment (000's),86156,86169,86238,86387,86514,86618,86719,...,131258,130004,111605,113654,117950,119645,121085,121699,122202,122392
9,NaN,NaN,Change in Service Providing Emp. (000's),NaN,13,69,149,127,104,101,...,195,-1254,-18399,2049,4296,1695,1440,614,503,190
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Sheet 'MONTHLY' / Row 401,USTRADE,Retail Trade Employment (000's),12819,12824,12824,12843,12842,12849,12827,...,15672,15587,13288,13674,14532,14785,15046,15062,15157,15122
12,NaN,NaN,Change in Retail Trade Emp. (000's),NaN,5,0,19,-1,7,-22,...,3,-85,-2299,386,858,253,261,16,95,-35
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Sheet 'MONTHLY' / Row 402,MANEMP,Manufacturing Employment (000's),16839,16829,16805,16831,16835,16826,16819,...,12852,12806,11489,11729,12062,12103,12133,12193,12226,12253
15,NaN,NaN,Change in Manufacturing Emp. (000's),NaN,-10,-24,26,4,-9,-7,...,8,-46,-1317,240,333,41,30,60,33,27
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Sheet 'MONTHLY' / Row 403,USCONS,Construction Employment (000's),4667,4612,4621,4603,4605,4584,4570,...,7639,7574,6556,7012,7171,7202,7226,7261,7333,7360
18,NaN,NaN,Change in Construction Emp. (000's),NaN,-55,9,-18,2,-21,-14,...,46,-65,-1018,456,159,31,24,35,72,27
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Sheet 'MONTHLY' / Row 404,TTWEMP,Total Transp. and Warehouse Emp. (000's),3444,3445,3449,3454,3452,3459,3456,...,5678,5668,5108,5083,5171,5219,5304,5348,5410,5555
21,NaN,NaN,Change in Total Transp. Emp. (000's),NaN,1,4,5,-2,7,-3,...,-1,-10,-560,-25,88,48,85,44,62,145
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sheet 'MONTHLY' / Row 405,TRUCKEMP,Truck Transportation Employment (000's),1102,1099,1100,1102,1105,1108,1106,...,1527,1523,1431,1432,1437,1440,1450,1454,1462,1474
24,NaN,NaN,Change in Truck Emp. (000's),NaN,-3,1,2,3,3,-2,...,0,-4,-92,1,5,3,10,4,8,12
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Freight & Labor Indices (FTR),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Sheet 'MONTHLY' / Row 53,LOADINDEX,Class 8 Truck Loads Index (1992=100),96.9858,97.2248,98.4448,100.371,100.953,99.9115,99.8787,...,145.997,140.702,124.003,128.068,135.598,138.89,140.407,140.474,142.057,142.884
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Sheet 'MONTHLY' / Row 169,LABORINDEX,Driver Labor Index (1992=100),98.6709,99.15,99.3099,99.6775,99.937,100.333,100.631,...,127.292,126.73,128.48,124.03,124.509,125.057,125.247,125.216,124.895,124.975

In [270]:
# Transposing the dataframe
driver_indicators_m = driver_indicators_m.T
driver_indicators_m

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
U.S. Monthly Indicators - History,Monthly Data,NEW SOURCE:,NaN,Sheet 'MONTHLY' / Row 398,NaN,Sheet 'MONTHLY' / Row 399,NaN,NaN,Sheet 'MONTHLY' / Row 400,NaN,...,Sheet 'MONTHLY' / Row 404,NaN,NaN,Sheet 'MONTHLY' / Row 405,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 53,NaN,Sheet 'MONTHLY' / Row 169
Unnamed: 1,NaN,ID,Employment Data (BLS),UNRATE,NaN,PAYEMS,NaN,NaN,SRVPRD,NaN,...,TTWEMP,NaN,NaN,TRUCKEMP,NaN,NaN,Freight & Labor Indices (FTR),LOADINDEX,NaN,LABORINDEX
Unnamed: 2,NaN,Name,NaN,Unemployment Rate (%),NaN,Payroll Employment (000's),Change in Payroll Employment (000's),NaN,Service Providing Employment (000's),Change in Service Providing Emp. (000's),...,Total Transp. and Warehouse Emp. (000's),Change in Total Transp. Emp. (000's),NaN,Truck Transportation Employment (000's),Change in Truck Emp. (000's),NaN,NaN,Class 8 Truck Loads Index (1992=100),NaN,Driver Labor Index (1992=100)
Unnamed: 3,1992,JAN,NaN,7.3,NaN,108369,NaN,NaN,86156,NaN,...,3444,NaN,NaN,1102,NaN,NaN,NaN,96.9858,NaN,98.6709
Unnamed: 4,1992,FEB,NaN,7.4,NaN,108311,-58,NaN,86169,13,...,3445,1,NaN,1099,-3,NaN,NaN,97.2248,NaN,99.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 345,2020,JUL,NaN,10.2,NaN,139570,1761,NaN,119645,1695,...,5219,48,NaN,1440,3,NaN,NaN,138.89,NaN,125.057
Unnamed: 346,2020,AUG,NaN,8.4,NaN,141063,1493,NaN,121085,1440,...,5304,85,NaN,1450,10,NaN,NaN,140.407,NaN,125.247
Unnamed: 347,2020,SEP,NaN,7.9,NaN,141774,711,NaN,121699,614,...,5348,44,NaN,1454,4,NaN,NaN,140.474,NaN,125.216
Unnamed: 348,2020,OCT,NaN,6.9,NaN,142384,610,NaN,122202,503,...,5410,62,NaN,1462,8,NaN,NaN,142.057,NaN,124.895
Unnamed: 349,2020,NOV,NaN,6.7,NaN,142629,245,NaN,122392,190,...,5555,145,NaN,1474,12,NaN,NaN,142.884,NaN,124.975

In [271]:
driver_indicators_m.iloc[1, 6] = driver_indicators_m.iloc[2, 6]
driver_indicators_m.iloc[1, 9] = driver_indicators_m.iloc[2, 9]
driver_indicators_m.iloc[1, 12] = driver_indicators_m.iloc[2, 12]
driver_indicators_m.iloc[1, 15] = driver_indicators_m.iloc[2, 15]
driver_indicators_m.iloc[1, 18] = driver_indicators_m.iloc[2, 18]
driver_indicators_m.iloc[1, 21] = driver_indicators_m.iloc[2, 21]
driver_indicators_m.iloc[1, 24] = driver_indicators_m.iloc[2, 24]

In [272]:
driver_indicators_m

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
U.S. Monthly Indicators - History,Monthly Data,NEW SOURCE:,NaN,Sheet 'MONTHLY' / Row 398,NaN,Sheet 'MONTHLY' / Row 399,NaN,NaN,Sheet 'MONTHLY' / Row 400,NaN,...,Sheet 'MONTHLY' / Row 404,NaN,NaN,Sheet 'MONTHLY' / Row 405,NaN,NaN,NaN,Sheet 'MONTHLY' / Row 53,NaN,Sheet 'MONTHLY' / Row 169
Unnamed: 1,NaN,ID,Employment Data (BLS),UNRATE,NaN,PAYEMS,Change in Payroll Employment (000's),NaN,SRVPRD,Change in Service Providing Emp. (000's),...,TTWEMP,Change in Total Transp. Emp. (000's),NaN,TRUCKEMP,Change in Truck Emp. (000's),NaN,Freight & Labor Indices (FTR),LOADINDEX,NaN,LABORINDEX
Unnamed: 2,NaN,Name,NaN,Unemployment Rate (%),NaN,Payroll Employment (000's),Change in Payroll Employment (000's),NaN,Service Providing Employment (000's),Change in Service Providing Emp. (000's),...,Total Transp. and Warehouse Emp. (000's),Change in Total Transp. Emp. (000's),NaN,Truck Transportation Employment (000's),Change in Truck Emp. (000's),NaN,NaN,Class 8 Truck Loads Index (1992=100),NaN,Driver Labor Index (1992=100)
Unnamed: 3,1992,JAN,NaN,7.3,NaN,108369,NaN,NaN,86156,NaN,...,3444,NaN,NaN,1102,NaN,NaN,NaN,96.9858,NaN,98.6709
Unnamed: 4,1992,FEB,NaN,7.4,NaN,108311,-58,NaN,86169,13,...,3445,1,NaN,1099,-3,NaN,NaN,97.2248,NaN,99.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 345,2020,JUL,NaN,10.2,NaN,139570,1761,NaN,119645,1695,...,5219,48,NaN,1440,3,NaN,NaN,138.89,NaN,125.057
Unnamed: 346,2020,AUG,NaN,8.4,NaN,141063,1493,NaN,121085,1440,...,5304,85,NaN,1450,10,NaN,NaN,140.407,NaN,125.247
Unnamed: 347,2020,SEP,NaN,7.9,NaN,141774,711,NaN,121699,614,...,5348,44,NaN,1454,4,NaN,NaN,140.474,NaN,125.216
Unnamed: 348,2020,OCT,NaN,6.9,NaN,142384,610,NaN,122202,503,...,5410,62,NaN,1462,8,NaN,NaN,142.057,NaN,124.895
Unnamed: 349,2020,NOV,NaN,6.7,NaN,142629,245,NaN,122392,190,...,5555,145,NaN,1474,12,NaN,NaN,142.884,NaN,124.975

In [273]:
driver_indicators_m.columns = driver_indicators_m.iloc[1, :]
driver_indicators_m = driver_indicators_m.reset_index()
driver_indicators_m = driver_indicators_m.drop('index', axis=1)
driver_indicators_m = driver_indicators_m.dropna(how='all', axis=1) # for removing columns having null values
driver_indicators_m = driver_indicators_m.drop(index=[0, 1, 2], axis=0) # because row 0 has Nan and row 1 has just column names 
driver_indicators_m = driver_indicators_m.rename(columns = {np.nan: 'Year', 'ID': 'Month'}) 
driver_indicators_m.reset_index(drop=True, inplace=True)
driver_indicators_m

Unnamed: 1,Year,Month,Employment Data (BLS),UNRATE,PAYEMS,Change in Payroll Employment (000's),SRVPRD,Change in Service Providing Emp. (000's),USTRADE,Change in Retail Trade Emp. (000's),...,Change in Manufacturing Emp. (000's),USCONS,Change in Construction Emp. (000's),TTWEMP,Change in Total Transp. Emp. (000's),TRUCKEMP,Change in Truck Emp. (000's),Freight & Labor Indices (FTR),LOADINDEX,LABORINDEX
0,1992,JAN,NaN,7.3,108369,NaN,86156,NaN,12819,NaN,...,NaN,4667,NaN,3444,NaN,1102,NaN,NaN,96.9858,98.6709
1,1992,FEB,NaN,7.4,108311,-58,86169,13,12824,5,...,-10,4612,-55,3445,1,1099,-3,NaN,97.2248,99.15
2,1992,MAR,NaN,7.4,108365,54,86238,69,12824,0,...,-24,4621,9,3449,4,1100,1,NaN,98.4448,99.3099
3,1992,APR,NaN,7.4,108519,154,86387,149,12843,19,...,26,4603,-18,3454,5,1102,2,NaN,100.371,99.6775
4,1992,MAY,NaN,7.6,108649,130,86514,127,12842,-1,...,4,4605,2,3452,-2,1105,3,NaN,100.953,99.937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,2020,JUL,NaN,10.2,139570,1761,119645,1695,14785,253,...,41,7202,31,5219,48,1440,3,NaN,138.89,125.057
343,2020,AUG,NaN,8.4,141063,1493,121085,1440,15046,261,...,30,7226,24,5304,85,1450,10,NaN,140.407,125.247
344,2020,SEP,NaN,7.9,141774,711,121699,614,15062,16,...,60,7261,35,5348,44,1454,4,NaN,140.474,125.216
345,2020,OCT,NaN,6.9,142384,610,122202,503,15157,95,...,33,7333,72,5410,62,1462,8,NaN,142.057,124.895
346,2020,NOV,NaN,6.7,142629,245,122392,190,15122,-35,...,27,7360,27,5555,145,1474,12,NaN,142.884,124.975

In [274]:
# Converting month names to numbers for uniformity
months = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07',
          'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}
driver_indicators_m['Month'] = driver_indicators_m['Month'].map(months)
driver_indicators_m['Year_Month'] = driver_indicators_m['Year'].astype(str) + '-' +  driver_indicators_m['Month']
driver_indicators_m = driver_indicators_m.drop(['Year', 'Month'], axis=1)
new_names = []
for i in driver_indicators_m.columns:
    new_names.append(i + '_driver_indicators_m_trucking')
    
driver_indicators_m.columns = new_names
driver_indicators_m = driver_indicators_m.rename(columns = {'Year_Month_driver_indicators_m_trucking': 'Year_Month'})
driver_indicators_m

,Employment Data (BLS)_driver_indicators_m_trucking,UNRATE_driver_indicators_m_trucking,PAYEMS_driver_indicators_m_trucking,Change in Payroll Employment (000's)_driver_indicators_m_trucking,SRVPRD_driver_indicators_m_trucking,Change in Service Providing Emp. (000's)_driver_indicators_m_trucking,USTRADE_driver_indicators_m_trucking,Change in Retail Trade Emp. (000's)_driver_indicators_m_trucking,MANEMP_driver_indicators_m_trucking,Change in Manufacturing Emp. (000's)_driver_indicators_m_trucking,USCONS_driver_indicators_m_trucking,Change in Construction Emp. (000's)_driver_indicators_m_trucking,TTWEMP_driver_indicators_m_trucking,Change in Total Transp. Emp. (000's)_driver_indicators_m_trucking,TRUCKEMP_driver_indicators_m_trucking,Change in Truck Emp. (000's)_driver_indicators_m_trucking,Freight & Labor Indices (FTR)_driver_indicators_m_trucking,LOADINDEX_driver_indicators_m_trucking,LABORINDEX_driver_indicators_m_trucking,Year_Month
0,NaN,7.3,108369,NaN,86156,NaN,12819,NaN,16839,NaN,4667,NaN,3444,NaN,1102,NaN,NaN,96.9858,98.6709,1992-01
1,NaN,7.4,108311,-58,86169,13,12824,5,16829,-10,4612,-55,3445,1,1099,-3,NaN,97.2248,99.15,1992-02
2,NaN,7.4,108365,54,86238,69,12824,0,16805,-24,4621,9,3449,4,1100,1,NaN,98.4448,99.3099,1992-03
3,NaN,7.4,108519,154,86387,149,12843,19,16831,26,4603,-18,3454,5,1102,2,NaN,100.371,99.6775,1992-04
4,NaN,7.6,108649,130,86514,127,12842,-1,16835,4,4605,2,3452,-2,1105,3,NaN,100.953,99.937,1992-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,NaN,10.2,139570,1761,119645,1695,14785,253,12103,41,7202,31,5219,48,1440,3,NaN,138.89,125.057,2020-07
343,NaN,8.4,141063,1493,121085,1440,15046,261,12133,30,7226,24,5304,85,1450,10,NaN,140.407,125.247,2020-08
344,NaN,7.9,141774,711,121699,614,15062,16,12193,60,7261,35,5348,44,1454,4,NaN,140.474,125.216,2020-09
345,NaN,6.9,142384,610,122202,503,15157,95,12226,33,7333,72,5410,62,1462,8,NaN,142.057,124.895,2020-10
346,NaN,6.7,142629,245,122392,190,15122,-35,12253,27,7360,27,5555,145,1474,12,NaN,142.884,124.975,2020-11

In [275]:
dfs = [freight_m, rates_m, indicators_m, driver_indicators_m]

In [276]:
monthly_df = pd.concat(dfs, join='inner', axis=1)

In [278]:
monthly_df = monthly_df.loc[:,~monthly_df.columns.duplicated()]

In [281]:
monthly_df.to_csv('external_monthly_data.csv')

### Now we will take take monthly data from Truck & Trailer Database and add it to external_monthly_data.csv.

### economics-m

In [282]:
economics_m = pd.read_excel(open('Truck & Trailer Database.xlsx', 'rb'), sheet_name='economics-m')
economics_m

,U.S. Economic Indicators,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 340,Unnamed: 341,Unnamed: 342,Unnamed: 343,Unnamed: 344,Unnamed: 345,Unnamed: 346,Unnamed: 347,Unnamed: 348,Unnamed: 349
0,Monthly Data,NaN,NaN,1992,1992,1992,1992,1992,1992,1992,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
1,NaN,ID,Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV
2,Industrial Production (2002=100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,B50001,Total IP Index,63.3374,63.7911,64.3212,64.8088,65.0202,65.0295,65.6172,...,109.297,104.522,91.2658,92.0613,97.8019,101.892,102.662,102.601,103.573,103.982
4,NaN,GMFD,Durable Manufacturing Index,41.4923,42.3678,42.8058,43.1439,43.6509,43.6361,44.1445,...,108.101,99.7374,77.8451,83.1326,93.6033,100.321,101.38,101.54,102.557,104.089
5,NaN,GMFN,Non-Durable Manufacturing Index,93.2655,92.9492,93.9328,94.2019,94.1043,94.7534,95.3686,...,103.961,101.815,91.9761,93.1212,96.3691,97.5812,99.2991,99.1395,100.513,100.578
6,NaN,GMF,Total Manufacturing Index,59.2972,59.8786,60.5043,60.8433,61.2039,61.3837,61.9549,...,106.103,100.803,84.8494,88.0935,94.9994,98.9978,100.383,100.385,101.579,102.385
7,NaN,G311,Food Index,81.7305,81.1607,81.2563,81.8869,81.8924,82.4293,82.9265,...,116.983,115.913,104.668,106.82,112.308,112.432,114.071,113.952,114.758,115.427
8,NaN,G325,Chemicals Index,79.0409,78.9897,79.77,79.9827,79.2751,80.3908,81.0651,...,99.4692,99.7934,93.7259,93.2928,94.0282,95.642,96.8567,96.4458,97.7867,97.3144
9,NaN,G332,Fabricated Metal Product Index,76.9733,78.0188,77.9293,78.4044,79.2963,79.2826,79.2505,...,103.974,99.8502,88.5229,90.6706,92.5223,92.2754,93.6211,95.8283,95.6011,96.0137
10,NaN,G33611,Automobile and Light-Duty Vehicles Index,49.7661,56.2704,58.7673,60.628,64.8041,61.8818,67.9079,...,138.758,85.5587,1.0118,26.7841,101.633,150.456,137.8,128.668,126.495,136.568
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Business Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,PAYEMS,Payroll Employment (000's),108369,108311,108365,108519,108649,108715,108793,...,152463,151090,130303,133028,137809,139570,141063,141774,142384,142629
14,NaN,ISM,ISM Manufacturing Index,47.3,52.7,54.6,52.6,55.7,53.6,53.9,...,50.1,49.1,41.5,43.1,52.6,54.2,56,55.4,59.3,57.5
15,NaN,PORTEU,West Coast Port Container Activity (TEU's),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1475067,1359335,1604615,1579260,1715055,2034822,2.23436e+06,2.09787e+06,2.24267e+06,2.06444e+06
16,NaN,CASS,Cass Freight Shipments Index (1992=100),0.877,0.928,0.923,0.918,0.873,0.901,0.856,...,1.085,1.087,0.923,0.938,0.971,1.018,1.099,1.177,1.18,NaN
17,NaN,USCONS,Construction Employment (000's),4667,4612,4621,4603,4605,4584,4570,...,7639,7574,6556,7012,7171,7202,7226,7261,7333,7360
18,NaN,MANEMP,Manufacturing Employment (000's),16839,16829,16805,16831,16835,16826,16819,...,12852,12806,11489,11729,12062,12103,12133,12193,12226,12253
19,NaN,USTRADE,Retail Trade Employment (000's),12819,12824,12824,12843,12842,12849,12827,...,15672,15587,13288,13674,14532,14785,15046,15062,15157,15122
20,NaN,TTWEMP,Total Transp. and Warehouse Emp. (000's),3444,3445,3449,3454,3452,3459,3456,...,5678,5668,5108,5083,5171,5219,5304,5348,5410,5555
21,NaN,TRUCKEMP,Truck Transportation Employment (000's),1102,1099,1100,1102,1105,1108,1106,...,1527,1523,1431,1432,1437,1440,1450,1454,1462,1474
22,NaN,OTHERTRANEMP,Other Transportation Employment (000's),2342,2346,2349,2352,2347,2351,2350,...,4151,4145,3677,3651,3734,3779,3854,3894,3948,4081
23,NaN,UNRATE,Unemployment Rate (%),7.3,7.4,7.4,7.4,7.6,7.8,7.7,...,3.5,4.4,14.7,13.3,11.1,10.2,8.4,7.9,6.9,6.7
24,NaN,LEI,Leading Economic Indicators (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.2,-7.4,-6.3,3.2,3,2,1.6,0.7,0.8,0.6
25,NaN,SPREAD,Interest Rate Spread (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.16,2.43,2.49,3.08,3.05,3.07,3.1,3.12,3.13,3.09
26,NaN,ISRATIO,Total Bus. Inventories/Retail Sales Ratio,1.56,1.56,1.53,1.53,1.52,1.52,1.51,...,1.38,1.45,1.67,1.5,1.37,1.33,1.32,1.32,1.31,NaN
27,NaN,BUSINV,Business Inventories (Mil $),808292,809600,812725,815453,815016,820447,825098,...,2013829,2007046,1979748,1933282,1912335,1914153,1919935,1934866,1948724,NaN
28,NaN,DGO,Durable Goods Orders (Mil $),NaN,114535,120025,124470,125822,122834,122590,...,246195,205020,167502,192605,207474,231914,232933,237786,240978,NaN
29,NaN,NDCGO,Nondefense Capital Goods Orders (Mil $),NaN,33857,35258,35992,36811,36666,36629,...,66453,65608,61299,62226,64885,66585,68184,69507,70064,NaN
30,NaN,CF3M,Chicago Fed National Activity Index 3MMA,-0.396667,-0.24,0.15,0.25,0.196667,0.0666667,0.126667,...,-0.116667,-1.48,-7.35667,-5.93333,-2.52667,4.28,3.21667,1.36667,0.75,NaN
31,NaN,SP500,S&P 500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3277.31,2652.39,2761.98,2919.62,3104.66,3207.62,3391.71,3365.52,3418.7,3548.99
32,NaN,TOTCON,Total Construction Spending (Mil $),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1441145,1436727,1387936,1369363,1383647,1398952,1426884,1420355,1438515,NaN
33,NaN,PUBCON,Public Construction Spending (Mil $),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,352364,360441,351318,358697,355366,349291,343677,341411,344785,NaN
34,NaN,RESCON,Private Residential Construction (Mil $),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592960,588060,562339,539555,553721,575451,615396,619090,637138,NaN
35,NaN,NRCON,Private Non-Residential Construction (Mil $),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,495821,488226,474279,471111,474560,474210,467811,459854,456592,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Consumer Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,HST,Housing Starts (000's),1176,1250,1297,1099,1214,1145,1139,...,1567,1269,934,1038,1265,1487,1373,1459,1530,NaN
39,NaN,RS,Retail Sales (Mil $),164095,164213,163721,164709,165612,166077,167257,...,527273,483949,412766,488218,529962,535923,543404,552767,552484,546504
40,NaN,CPIALL,Consumer Price Index,138.3,138.6,139.1,139.4,139.7,140.1,140.5,...,259.05,257.953,255.902,255.768,257.214,258.723,259.681,260.209,260.325,260.817
41,NaN,CBINDEX,Consumer Confidence (Conference Board),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,132.6,118.8,85.7,85.9,98.3,91.7,86.3,101.3,101.4,96.1
42,NaN,BPT,Building Permits (000's),1077,1146,1082,1054,1056,1057,1089,...,1438,1356,1066,1216,1258,1483,1476,1545,1544,NaN
43,NaN,NHS,New Home Sales (000's),676,639,553,546,554,596,627,...,716,612,570,698,840,979,1001,1002,999,NaN
44,NaN,EHS,Existing Home Sales (000's),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5760,5270,4330,3910,4720,5860,6000,6540,6850,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Oil & Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,D/GAL,National Avg. Diesel/Gal.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.91,2.729,2.493,2.392,2.408,2.434,2.429,2.414,2.389,2.432
48,NaN,D/STOCK,Distillate Fuel Inventories (Mil Barrels/Day),126733,108773,97676,92131,96425,104473,114639,...,132740,126713,150709,175899,175427,177561,178914,171718,161588,145466
49,NaN,NaN,Change in Distillate Fuel Inventories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,WTICO,W. Texas Int. Crude Oil ($Bbl.),18.79,19.01,18.92,20.23,20.98,22.39,21.78,...,50.54,29.21,16.55,28.56,38.31,40.71,42.34,39.63,39.4,40.94
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Producer Price Indices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,4841212,"Truck-General Freight, TL",NaN,NaN,NaN,NaN,NaN,100,99.9,...,152.6,148.7,146.8,145,142.4,149.2,150.3,152,153.9,160.1
54,NaN,4841221,"Truck-General Freight, LTL",NaN,NaN,NaN,NaN,NaN,100,99.7,...,322.1,319.8,317.6,316.5,312.1,321.4,320.7,311,319.3,316
55,NaN,4821111,"Rail-Line Haul, Carload",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,204.6,204.5,204.6,203.4,202.2,201.3,202.5,203,203.4,203.4
56,NaN,4821112,"Rail- Line Haul, Intermodal",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,177.8,175.8,171.5,168,165.8,166.9,168.4,169.3,168,168.9

In [283]:
# Transposing the dataframe
economics_m = economics_m.T
economics_m

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
U.S. Economic Indicators,Monthly Data,NaN,Industrial Production (2002=100),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Producer Price Indices,NaN,NaN,NaN,NaN
Unnamed: 1,NaN,ID,NaN,B50001,GMFD,GMFN,GMF,G311,G325,G332,...,D/GAL,D/STOCK,NaN,WTICO,NaN,NaN,4841212,4841221,4821111,4821112
Unnamed: 2,NaN,Name,NaN,Total IP Index,Durable Manufacturing Index,Non-Durable Manufacturing Index,Total Manufacturing Index,Food Index,Chemicals Index,Fabricated Metal Product Index,...,National Avg. Diesel/Gal.,Distillate Fuel Inventories (Mil Barrels/Day),Change in Distillate Fuel Inventories,W. Texas Int. Crude Oil ($Bbl.),NaN,NaN,"Truck-General Freight, TL","Truck-General Freight, LTL","Rail-Line Haul, Carload","Rail- Line Haul, Intermodal"
Unnamed: 3,1992,JAN,NaN,63.3374,41.4923,93.2655,59.2972,81.7305,79.0409,76.9733,...,NaN,126733,NaN,18.79,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 4,1992,FEB,NaN,63.7911,42.3678,92.9492,59.8786,81.1607,78.9897,78.0188,...,NaN,108773,NaN,19.01,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 345,2020,JUL,NaN,101.892,100.321,97.5812,98.9978,112.432,95.642,92.2754,...,2.434,177561,NaN,40.71,NaN,NaN,149.2,321.4,201.3,166.9
Unnamed: 346,2020,AUG,NaN,102.662,101.38,99.2991,100.383,114.071,96.8567,93.6211,...,2.429,178914,NaN,42.34,NaN,NaN,150.3,320.7,202.5,168.4
Unnamed: 347,2020,SEP,NaN,102.601,101.54,99.1395,100.385,113.952,96.4458,95.8283,...,2.414,171718,NaN,39.63,NaN,NaN,152,311,203,169.3
Unnamed: 348,2020,OCT,NaN,103.573,102.557,100.513,101.579,114.758,97.7867,95.6011,...,2.389,161588,NaN,39.4,NaN,NaN,153.9,319.3,203.4,168
Unnamed: 349,2020,NOV,NaN,103.982,104.089,100.578,102.385,115.427,97.3144,96.0137,...,2.432,145466,NaN,40.94,NaN,NaN,160.1,316,203.4,168.9

In [284]:
economics_m.columns = economics_m.iloc[2, :]
economics_m = economics_m.reset_index()
economics_m = economics_m.drop('index', axis=1)
economics_m = economics_m.drop(index=[0, 1, 2], axis=0) # because row 0 has Nan and row 1 has just column names 
economics_m = economics_m.dropna(how='all', axis=1) # for removing columns having null values
economics_m = economics_m.rename(columns = {np.nan: 'Year', 'Name': 'Month'}) 
economics_m.reset_index(drop=True, inplace=True)
economics_m

Unnamed: 2,Year,Month,Total IP Index,Durable Manufacturing Index,Non-Durable Manufacturing Index,Total Manufacturing Index,Food Index,Chemicals Index,Fabricated Metal Product Index,Automobile and Light-Duty Vehicles Index,...,Building Permits (000's),New Home Sales (000's),Existing Home Sales (000's),National Avg. Diesel/Gal.,Distillate Fuel Inventories (Mil Barrels/Day),W. Texas Int. Crude Oil ($Bbl.),"Truck-General Freight, TL","Truck-General Freight, LTL","Rail-Line Haul, Carload","Rail- Line Haul, Intermodal"
0,1992,JAN,63.3374,41.4923,93.2655,59.2972,81.7305,79.0409,76.9733,49.7661,...,1077,676,NaN,NaN,126733,18.79,NaN,NaN,NaN,NaN
1,1992,FEB,63.7911,42.3678,92.9492,59.8786,81.1607,78.9897,78.0188,56.2704,...,1146,639,NaN,NaN,108773,19.01,NaN,NaN,NaN,NaN
2,1992,MAR,64.3212,42.8058,93.9328,60.5043,81.2563,79.77,77.9293,58.7673,...,1082,553,NaN,NaN,97676,18.92,NaN,NaN,NaN,NaN
3,1992,APR,64.8088,43.1439,94.2019,60.8433,81.8869,79.9827,78.4044,60.628,...,1054,546,NaN,NaN,92131,20.23,NaN,NaN,NaN,NaN
4,1992,MAY,65.0202,43.6509,94.1043,61.2039,81.8924,79.2751,79.2963,64.8041,...,1056,554,NaN,NaN,96425,20.98,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,2020,JUL,101.892,100.321,97.5812,98.9978,112.432,95.642,92.2754,150.456,...,1483,979,5860,2.434,177561,40.71,149.2,321.4,201.3,166.9
343,2020,AUG,102.662,101.38,99.2991,100.383,114.071,96.8567,93.6211,137.8,...,1476,1001,6000,2.429,178914,42.34,150.3,320.7,202.5,168.4
344,2020,SEP,102.601,101.54,99.1395,100.385,113.952,96.4458,95.8283,128.668,...,1545,1002,6540,2.414,171718,39.63,152,311,203,169.3
345,2020,OCT,103.573,102.557,100.513,101.579,114.758,97.7867,95.6011,126.495,...,1544,999,6850,2.389,161588,39.4,153.9,319.3,203.4,168
346,2020,NOV,103.982,104.089,100.578,102.385,115.427,97.3144,96.0137,136.568,...,NaN,NaN,NaN,2.432,145466,40.94,160.1,316,203.4,168.9

In [285]:
# Converting month names to numbers for uniformity
months = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07',
          'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}
economics_m['Month'] = economics_m['Month'].map(months)
economics_m['Year_Month'] = economics_m['Year'].astype(str) + '-' +  economics_m['Month']
economics_m = economics_m.drop(['Year', 'Month'], axis=1)
new_names = []
for i in economics_m.columns:
    new_names.append(i + '_economics_m_trucking_trailer')
    
economics_m.columns = new_names
economics_m = economics_m.rename(columns = {'Year_Month_economics_m_trucking_trailer': 'Year_Month'})
economics_m

,Total IP Index_economics_m_trucking_trailer,Durable Manufacturing Index_economics_m_trucking_trailer,Non-Durable Manufacturing Index_economics_m_trucking_trailer,Total Manufacturing Index_economics_m_trucking_trailer,Food Index_economics_m_trucking_trailer,Chemicals Index_economics_m_trucking_trailer,Fabricated Metal Product Index_economics_m_trucking_trailer,Automobile and Light-Duty Vehicles Index_economics_m_trucking_trailer,Payroll Employment (000's)_economics_m_trucking_trailer,ISM Manufacturing Index_economics_m_trucking_trailer,...,New Home Sales (000's)_economics_m_trucking_trailer,Existing Home Sales (000's)_economics_m_trucking_trailer,National Avg. Diesel/Gal._economics_m_trucking_trailer,Distillate Fuel Inventories (Mil Barrels/Day)_economics_m_trucking_trailer,W. Texas Int. Crude Oil ($Bbl.)_economics_m_trucking_trailer,"Truck-General Freight, TL_economics_m_trucking_trailer","Truck-General Freight, LTL_economics_m_trucking_trailer","Rail-Line Haul, Carload_economics_m_trucking_trailer","Rail- Line Haul, Intermodal_economics_m_trucking_trailer",Year_Month
0,63.3374,41.4923,93.2655,59.2972,81.7305,79.0409,76.9733,49.7661,108369,47.3,...,676,NaN,NaN,126733,18.79,NaN,NaN,NaN,NaN,1992-01
1,63.7911,42.3678,92.9492,59.8786,81.1607,78.9897,78.0188,56.2704,108311,52.7,...,639,NaN,NaN,108773,19.01,NaN,NaN,NaN,NaN,1992-02
2,64.3212,42.8058,93.9328,60.5043,81.2563,79.77,77.9293,58.7673,108365,54.6,...,553,NaN,NaN,97676,18.92,NaN,NaN,NaN,NaN,1992-03
3,64.8088,43.1439,94.2019,60.8433,81.8869,79.9827,78.4044,60.628,108519,52.6,...,546,NaN,NaN,92131,20.23,NaN,NaN,NaN,NaN,1992-04
4,65.0202,43.6509,94.1043,61.2039,81.8924,79.2751,79.2963,64.8041,108649,55.7,...,554,NaN,NaN,96425,20.98,NaN,NaN,NaN,NaN,1992-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,101.892,100.321,97.5812,98.9978,112.432,95.642,92.2754,150.456,139570,54.2,...,979,5860,2.434,177561,40.71,149.2,321.4,201.3,166.9,2020-07
343,102.662,101.38,99.2991,100.383,114.071,96.8567,93.6211,137.8,141063,56,...,1001,6000,2.429,178914,42.34,150.3,320.7,202.5,168.4,2020-08
344,102.601,101.54,99.1395,100.385,113.952,96.4458,95.8283,128.668,141774,55.4,...,1002,6540,2.414,171718,39.63,152,311,203,169.3,2020-09
345,103.573,102.557,100.513,101.579,114.758,97.7867,95.6011,126.495,142384,59.3,...,999,6850,2.389,161588,39.4,153.9,319.3,203.4,168,2020-10
346,103.982,104.089,100.578,102.385,115.427,97.3144,96.0137,136.568,142629,57.5,...,NaN,NaN,2.432,145466,40.94,160.1,316,203.4,168.9,2020-11

### indicator-m

In [286]:
indicators_m = pd.read_excel(open('Truck & Trailer Database.xlsx', 'rb'), sheet_name='indicators-m_modified')
indicators_m

,CV Market Indicators,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 340,Unnamed: 341,Unnamed: 342,Unnamed: 343,Unnamed: 344,Unnamed: 345,Unnamed: 346,Unnamed: 347,Unnamed: 348,Unnamed: 349
0,Monthly Data,NaN,NaN,1992,1992,1992,1992,1992,1992,1992,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
1,Prior to 2007 Retail Sales and Inventories are...,NaN,NaN,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV
2,NaN,NaN,"Total Class 8, North America_OEM Net Orders",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14243,7211,4105,6735,15626,19901,20595,31820,40299,52807
3,NaN,NaN,"Total Class 8, North America_OEM Net Orders_M/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-18.7553,-49.3716,-43.0731,64.0682,132.012,27.3582,3.48726,54.5035,26.6468,31.038
4,NaN,NaN,"Total Class 8, North America_OEM Net Orders_Y/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-17.1437,-53.621,-72.0139,-35.5009,20.9817,98.7516,91.8848,158.237,83.4692,200.142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,NaN,Factory Shipments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,U.S. 1,0,0,4862,-4862,0,4679,-4679,...,2013,2351,886,1794,2030,2315,1947,1680,1619,-18425
162,NaN,NaN,U.S. 2,0,0,0,0,0,0,0,...,1,0,3,1,1,0,2,10,2,-22
163,NaN,NaN,U.S. 3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,NaN,NaN,U.S. 3,0,0,0,0,0,0,0,...,2,0,1,0,0,0,0,0,0,-3

In [287]:
# Transposing the dataframe
indicators_m = indicators_m.T
indicators_m

,0,1,2,3,4,5,6,7,8,9,...,155,156,157,158,159,160,161,162,163,164
CV Market Indicators,Monthly Data,Prior to 2007 Retail Sales and Inventories are...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Class 6-7 Bus, North America",NaN,NaN,NaN,NaN,NaN
Unnamed: 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Factory Shipments,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,NaN,"Total Class 8, North America_OEM Net Orders","Total Class 8, North America_OEM Net Orders_M/...","Total Class 8, North America_OEM Net Orders_Y/...","Total Class 8, North America_Factory Shipments...","Total Class 8, North America_Factory Shipments...","Total Class 8, North America_Factory Shipments...","Total Class 8, North America_Retail Sales (War...","Total Class 8, North America_Retail Sales (War...",...,U.S.,CAN,MEX,NaN,NaN,NaN,U.S. 1,U.S. 2,U.S. 3,U.S. 3
Unnamed: 3,1992,JAN,NaN,NaN,NaN,NaN,NaN,NaN,6738,NaN,...,0,0,0,NaN,NaN,NaN,0,0,0,0
Unnamed: 4,1992,FEB,NaN,NaN,NaN,NaN,NaN,NaN,7627,13.1938,...,0,0,0,NaN,NaN,NaN,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 345,2020,JUL,19901,27.3582,98.7516,17243,-2.30595,-44.3325,18460,6.53893,...,10139,199,0,NaN,NaN,NaN,2315,0,0,0
Unnamed: 346,2020,AUG,20595,3.48726,91.8848,17059,-1.0671,-40.3218,21487,16.3976,...,10881,182,0,NaN,NaN,NaN,1947,2,0,0
Unnamed: 347,2020,SEP,31820,54.5035,158.237,20141,18.0667,-24.9478,23132,7.65579,...,11760,169,0,NaN,NaN,NaN,1680,10,0,0
Unnamed: 348,2020,OCT,40299,26.6468,83.4692,21695,7.7156,-18.2709,23135,0.012969,...,8178,146,0,NaN,NaN,NaN,1619,2,0,0
Unnamed: 349,2020,NOV,52807,31.038,200.142,NaN,NaN,NaN,21821,-5.67971,...,8088,138,0,NaN,NaN,NaN,-18425,-22,0,-3

In [288]:
indicators_m = indicators_m.iloc[:, 0:31]
indicators_m

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
CV Market Indicators,Monthly Data,Prior to 2007 Retail Sales and Inventories are...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,NaN,"Total Class 8, North America_OEM Net Orders","Total Class 8, North America_OEM Net Orders_M/...","Total Class 8, North America_OEM Net Orders_Y/...","Total Class 8, North America_Factory Shipments...","Total Class 8, North America_Factory Shipments...","Total Class 8, North America_Factory Shipments...","Total Class 8, North America_Retail Sales (War...","Total Class 8, North America_Retail Sales (War...",...,"Total Classes 4-7, North America_Retail Sales ...","Total Classes 4-7, North America_Retail Sales ...","Total Classes 4-7, North America_Inventories (...","Total Classes 4-7, North America_Inventories (...","Total Classes 4-7, North America_Inventories (...","Class 4, North America_Factory Shipments (Ward's)","Class 4, North America_Retail Sales (Ward's)","Class 4, North America_Inventories (Ward's)","Class 6-7 Bus, North America_Factory Shipments...","Class 4-7, US_Retail Sales (Ward's)"
Unnamed: 3,1992,JAN,NaN,NaN,NaN,NaN,NaN,NaN,6738,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1272,NaN,NaN,1272
Unnamed: 4,1992,FEB,NaN,NaN,NaN,NaN,NaN,NaN,7627,13.1938,...,-7.75646,NaN,NaN,NaN,NaN,NaN,1649,NaN,NaN,1649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 345,2020,JUL,19901,27.3582,98.7516,17243,-2.30595,-44.3325,18460,6.53893,...,1.95003,-19.1792,71349,1.18703,-11.8343,2508,3041,10338,2315,2566
Unnamed: 346,2020,AUG,20595,3.48726,91.8848,17059,-1.0671,-40.3218,21487,16.3976,...,8.10586,-16.8742,73030,2.35602,-12.632,715.5,3111,11063,1949,2715
Unnamed: 347,2020,SEP,31820,54.5035,158.237,20141,18.0667,-24.9478,23132,7.65579,...,-3.12005,-7.31016,77255,5.78529,-7.91575,702.5,738.5,11929,1690,287.5
Unnamed: 348,2020,OCT,40299,26.6468,83.4692,21695,7.7156,-18.2709,23135,0.012969,...,8.13657,-11.2459,73267,-5.16213,-9.44742,1119,749.5,8324,1621,287.5
Unnamed: 349,2020,NOV,52807,31.038,200.142,NaN,NaN,NaN,21821,-5.67971,...,-9.91512,11.0011,71744,-2.0787,-11.2925,NaN,2109,8226,NaN,1642

In [289]:
indicators_m.columns = indicators_m.iloc[2, :]
indicators_m

Unnamed: 2,NaN,NaN,"Total Class 8, North America_OEM Net Orders","Total Class 8, North America_OEM Net Orders_M/M % Change","Total Class 8, North America_OEM Net Orders_Y/Y % Change","Total Class 8, North America_Factory Shipments (Ward's)","Total Class 8, North America_Factory Shipments (Ward's)_M/M % Change","Total Class 8, North America_Factory Shipments (Ward's)_Y/Y % Change","Total Class 8, North America_Retail Sales (Ward's)","Total Class 8, North America_Retail Sales (Ward's)_M/M % Change",...,"Total Classes 4-7, North America_Retail Sales (Ward's)_M/M % Change","Total Classes 4-7, North America_Retail Sales (Ward's)_Y/Y % Change","Total Classes 4-7, North America_Inventories (Ward's)","Total Classes 4-7, North America_Inventories (Ward's)_M/M % Change","Total Classes 4-7, North America_Inventories (Ward's)_Y/Y % Change","Class 4, North America_Factory Shipments (Ward's)","Class 4, North America_Retail Sales (Ward's)","Class 4, North America_Inventories (Ward's)","Class 6-7 Bus, North America_Factory Shipments (Ward's)","Class 4-7, US_Retail Sales (Ward's)"
CV Market Indicators,Monthly Data,Prior to 2007 Retail Sales and Inventories are...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,NaN,"Total Class 8, North America_OEM Net Orders","Total Class 8, North America_OEM Net Orders_M/...","Total Class 8, North America_OEM Net Orders_Y/...","Total Class 8, North America_Factory Shipments...","Total Class 8, North America_Factory Shipments...","Total Class 8, North America_Factory Shipments...","Total Class 8, North America_Retail Sales (War...","Total Class 8, North America_Retail Sales (War...",...,"Total Classes 4-7, North America_Retail Sales ...","Total Classes 4-7, North America_Retail Sales ...","Total Classes 4-7, North America_Inventories (...","Total Classes 4-7, North America_Inventories (...","Total Classes 4-7, North America_Inventories (...","Class 4, North America_Factory Shipments (Ward's)","Class 4, North America_Retail Sales (Ward's)","Class 4, North America_Inventories (Ward's)","Class 6-7 Bus, North America_Factory Shipments...","Class 4-7, US_Retail Sales (Ward's)"
Unnamed: 3,1992,JAN,NaN,NaN,NaN,NaN,NaN,NaN,6738,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1272,NaN,NaN,1272
Unnamed: 4,1992,FEB,NaN,NaN,NaN,NaN,NaN,NaN,7627,13.1938,...,-7.75646,NaN,NaN,NaN,NaN,NaN,1649,NaN,NaN,1649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 345,2020,JUL,19901,27.3582,98.7516,17243,-2.30595,-44.3325,18460,6.53893,...,1.95003,-19.1792,71349,1.18703,-11.8343,2508,3041,10338,2315,2566
Unnamed: 346,2020,AUG,20595,3.48726,91.8848,17059,-1.0671,-40.3218,21487,16.3976,...,8.10586,-16.8742,73030,2.35602,-12.632,715.5,3111,11063,1949,2715
Unnamed: 347,2020,SEP,31820,54.5035,158.237,20141,18.0667,-24.9478,23132,7.65579,...,-3.12005,-7.31016,77255,5.78529,-7.91575,702.5,738.5,11929,1690,287.5
Unnamed: 348,2020,OCT,40299,26.6468,83.4692,21695,7.7156,-18.2709,23135,0.012969,...,8.13657,-11.2459,73267,-5.16213,-9.44742,1119,749.5,8324,1621,287.5
Unnamed: 349,2020,NOV,52807,31.038,200.142,NaN,NaN,NaN,21821,-5.67971,...,-9.91512,11.0011,71744,-2.0787,-11.2925,NaN,2109,8226,NaN,1642

In [290]:
indicators_m = indicators_m.reset_index()
indicators_m = indicators_m.drop('index', axis=1)
indicators_m = indicators_m.drop(index=[0,1,2], axis=0)
indicators_m

Unnamed: 2,NaN,NaN,"Total Class 8, North America_OEM Net Orders","Total Class 8, North America_OEM Net Orders_M/M % Change","Total Class 8, North America_OEM Net Orders_Y/Y % Change","Total Class 8, North America_Factory Shipments (Ward's)","Total Class 8, North America_Factory Shipments (Ward's)_M/M % Change","Total Class 8, North America_Factory Shipments (Ward's)_Y/Y % Change","Total Class 8, North America_Retail Sales (Ward's)","Total Class 8, North America_Retail Sales (Ward's)_M/M % Change",...,"Total Classes 4-7, North America_Retail Sales (Ward's)_M/M % Change","Total Classes 4-7, North America_Retail Sales (Ward's)_Y/Y % Change","Total Classes 4-7, North America_Inventories (Ward's)","Total Classes 4-7, North America_Inventories (Ward's)_M/M % Change","Total Classes 4-7, North America_Inventories (Ward's)_Y/Y % Change","Class 4, North America_Factory Shipments (Ward's)","Class 4, North America_Retail Sales (Ward's)","Class 4, North America_Inventories (Ward's)","Class 6-7 Bus, North America_Factory Shipments (Ward's)","Class 4-7, US_Retail Sales (Ward's)"
3,1992,JAN,NaN,NaN,NaN,NaN,NaN,NaN,6738,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1272,NaN,NaN,1272
4,1992,FEB,NaN,NaN,NaN,NaN,NaN,NaN,7627,13.1938,...,-7.75646,NaN,NaN,NaN,NaN,NaN,1649,NaN,NaN,1649
5,1992,MAR,NaN,NaN,NaN,NaN,NaN,NaN,8480,11.184,...,27.949,NaN,NaN,NaN,NaN,NaN,2092,NaN,NaN,2092
6,1992,APR,NaN,NaN,NaN,NaN,NaN,NaN,10864,28.1132,...,2.88584,NaN,NaN,NaN,NaN,NaN,2137,NaN,NaN,2137
7,1992,MAY,NaN,NaN,NaN,NaN,NaN,NaN,9600,-11.6348,...,-15.9358,NaN,NaN,NaN,NaN,NaN,2223,NaN,NaN,2223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,2020,JUL,19901,27.3582,98.7516,17243,-2.30595,-44.3325,18460,6.53893,...,1.95003,-19.1792,71349,1.18703,-11.8343,2508,3041,10338,2315,2566
346,2020,AUG,20595,3.48726,91.8848,17059,-1.0671,-40.3218,21487,16.3976,...,8.10586,-16.8742,73030,2.35602,-12.632,715.5,3111,11063,1949,2715
347,2020,SEP,31820,54.5035,158.237,20141,18.0667,-24.9478,23132,7.65579,...,-3.12005,-7.31016,77255,5.78529,-7.91575,702.5,738.5,11929,1690,287.5
348,2020,OCT,40299,26.6468,83.4692,21695,7.7156,-18.2709,23135,0.012969,...,8.13657,-11.2459,73267,-5.16213,-9.44742,1119,749.5,8324,1621,287.5
349,2020,NOV,52807,31.038,200.142,NaN,NaN,NaN,21821,-5.67971,...,-9.91512,11.0011,71744,-2.0787,-11.2925,NaN,2109,8226,NaN,1642

In [291]:
indicators_m.columns = [                                                      "Year",
                                                                              "Month",
                                    "Total Class 8, North America_OEM Net Orders",
                       "Total Class 8, North America_OEM Net Orders_M/M % Change",
                       "Total Class 8, North America_OEM Net Orders_Y/Y % Change",
                        "Total Class 8, North America_Factory Shipments (Ward's)",
           "Total Class 8, North America_Factory Shipments (Ward's)_M/M % Change",
           "Total Class 8, North America_Factory Shipments (Ward's)_Y/Y % Change",
                             "Total Class 8, North America_Retail Sales (Ward's)",
                "Total Class 8, North America_Retail Sales (Ward's)_M/M % Change",
                "Total Class 8, North America_Retail Sales (Ward's)_Y/Y % Change",
                              "Total Class 8, North America_Inventories (Ward's)",
                 "Total Class 8, North America_Inventories (Ward's)_M/M % Change",
                 "Total Class 8, North America_Inventories (Ward's)_Y/Y % Change",
                                                "Total Trailers, U.S._Production",
                                   "Total Trailers, U.S._Production_M/M % Change",
                                   'Total Trailers, U.S._Production_Y/Y % Change',
                    "Total Classes 4-7, North America_Factory Shipments (Ward's)",
       "Total Classes 4-7, North America_Factory Shipments (Ward's)_M/M % Change",
       "Total Classes 4-7, North America_Factory Shipments (Ward's)_Y/Y % Change",
                         "Total Classes 4-7, North America_Retail Sales (Ward's)",
            "Total Classes 4-7, North America_Retail Sales (Ward's)_M/M % Change",
            "Total Classes 4-7, North America_Retail Sales (Ward's)_Y/Y % Change",
                          "Total Classes 4-7, North America_Inventories (Ward's)",
             "Total Classes 4-7, North America_Inventories (Ward's)_M/M % Change",
             "Total Classes 4-7, North America_Inventories (Ward's)_Y/Y % Change",
                              "Class 4, North America_Factory Shipments (Ward's)",
                                   "Class 4, North America_Retail Sales (Ward's)",
                                    "Class 4, North America_Inventories (Ward's)",
                        "Class 6-7 Bus, North America_Factory Shipments (Ward's)",
                                            "Class 4-7, US_Retail Sales (Ward's)'"]

In [292]:
indicators_m

,Year,Month,"Total Class 8, North America_OEM Net Orders","Total Class 8, North America_OEM Net Orders_M/M % Change","Total Class 8, North America_OEM Net Orders_Y/Y % Change","Total Class 8, North America_Factory Shipments (Ward's)","Total Class 8, North America_Factory Shipments (Ward's)_M/M % Change","Total Class 8, North America_Factory Shipments (Ward's)_Y/Y % Change","Total Class 8, North America_Retail Sales (Ward's)","Total Class 8, North America_Retail Sales (Ward's)_M/M % Change",...,"Total Classes 4-7, North America_Retail Sales (Ward's)_M/M % Change","Total Classes 4-7, North America_Retail Sales (Ward's)_Y/Y % Change","Total Classes 4-7, North America_Inventories (Ward's)","Total Classes 4-7, North America_Inventories (Ward's)_M/M % Change","Total Classes 4-7, North America_Inventories (Ward's)_Y/Y % Change","Class 4, North America_Factory Shipments (Ward's)","Class 4, North America_Retail Sales (Ward's)","Class 4, North America_Inventories (Ward's)","Class 6-7 Bus, North America_Factory Shipments (Ward's)","Class 4-7, US_Retail Sales (Ward's)'"
3,1992,JAN,NaN,NaN,NaN,NaN,NaN,NaN,6738,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1272,NaN,NaN,1272
4,1992,FEB,NaN,NaN,NaN,NaN,NaN,NaN,7627,13.1938,...,-7.75646,NaN,NaN,NaN,NaN,NaN,1649,NaN,NaN,1649
5,1992,MAR,NaN,NaN,NaN,NaN,NaN,NaN,8480,11.184,...,27.949,NaN,NaN,NaN,NaN,NaN,2092,NaN,NaN,2092
6,1992,APR,NaN,NaN,NaN,NaN,NaN,NaN,10864,28.1132,...,2.88584,NaN,NaN,NaN,NaN,NaN,2137,NaN,NaN,2137
7,1992,MAY,NaN,NaN,NaN,NaN,NaN,NaN,9600,-11.6348,...,-15.9358,NaN,NaN,NaN,NaN,NaN,2223,NaN,NaN,2223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,2020,JUL,19901,27.3582,98.7516,17243,-2.30595,-44.3325,18460,6.53893,...,1.95003,-19.1792,71349,1.18703,-11.8343,2508,3041,10338,2315,2566
346,2020,AUG,20595,3.48726,91.8848,17059,-1.0671,-40.3218,21487,16.3976,...,8.10586,-16.8742,73030,2.35602,-12.632,715.5,3111,11063,1949,2715
347,2020,SEP,31820,54.5035,158.237,20141,18.0667,-24.9478,23132,7.65579,...,-3.12005,-7.31016,77255,5.78529,-7.91575,702.5,738.5,11929,1690,287.5
348,2020,OCT,40299,26.6468,83.4692,21695,7.7156,-18.2709,23135,0.012969,...,8.13657,-11.2459,73267,-5.16213,-9.44742,1119,749.5,8324,1621,287.5
349,2020,NOV,52807,31.038,200.142,NaN,NaN,NaN,21821,-5.67971,...,-9.91512,11.0011,71744,-2.0787,-11.2925,NaN,2109,8226,NaN,1642

In [293]:
# Converting month names to numbers for uniformity
months = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07',
          'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}
indicators_m['Month'] = indicators_m['Month'].map(months)
indicators_m['Year_Month'] = indicators_m['Year'].astype(str) + '-' +  indicators_m['Month']
indicators_m = indicators_m.drop(['Year', 'Month'], axis=1)
new_names = []
for i in indicators_m.columns:
    new_names.append(i + '_indicators_m_trucking_trailer')
    
indicators_m.columns = new_names
indicators_m = indicators_m.rename(columns = {'Year_Month_indicators_m_trucking_trailer': 'Year_Month'})
indicators_m

,"Total Class 8, North America_OEM Net Orders_indicators_m_trucking_trailer","Total Class 8, North America_OEM Net Orders_M/M % Change_indicators_m_trucking_trailer","Total Class 8, North America_OEM Net Orders_Y/Y % Change_indicators_m_trucking_trailer","Total Class 8, North America_Factory Shipments (Ward's)_indicators_m_trucking_trailer","Total Class 8, North America_Factory Shipments (Ward's)_M/M % Change_indicators_m_trucking_trailer","Total Class 8, North America_Factory Shipments (Ward's)_Y/Y % Change_indicators_m_trucking_trailer","Total Class 8, North America_Retail Sales (Ward's)_indicators_m_trucking_trailer","Total Class 8, North America_Retail Sales (Ward's)_M/M % Change_indicators_m_trucking_trailer","Total Class 8, North America_Retail Sales (Ward's)_Y/Y % Change_indicators_m_trucking_trailer","Total Class 8, North America_Inventories (Ward's)_indicators_m_trucking_trailer",...,"Total Classes 4-7, North America_Retail Sales (Ward's)_Y/Y % Change_indicators_m_trucking_trailer","Total Classes 4-7, North America_Inventories (Ward's)_indicators_m_trucking_trailer","Total Classes 4-7, North America_Inventories (Ward's)_M/M % Change_indicators_m_trucking_trailer","Total Classes 4-7, North America_Inventories (Ward's)_Y/Y % Change_indicators_m_trucking_trailer","Class 4, North America_Factory Shipments (Ward's)_indicators_m_trucking_trailer","Class 4, North America_Retail Sales (Ward's)_indicators_m_trucking_trailer","Class 4, North America_Inventories (Ward's)_indicators_m_trucking_trailer","Class 6-7 Bus, North America_Factory Shipments (Ward's)_indicators_m_trucking_trailer","Class 4-7, US_Retail Sales (Ward's)'_indicators_m_trucking_trailer",Year_Month
3,NaN,NaN,NaN,NaN,NaN,NaN,6738,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1272,NaN,NaN,1272,1992-01
4,NaN,NaN,NaN,NaN,NaN,NaN,7627,13.1938,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1649,NaN,NaN,1649,1992-02
5,NaN,NaN,NaN,NaN,NaN,NaN,8480,11.184,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2092,NaN,NaN,2092,1992-03
6,NaN,NaN,NaN,NaN,NaN,NaN,10864,28.1132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2137,NaN,NaN,2137,1992-04
7,NaN,NaN,NaN,NaN,NaN,NaN,9600,-11.6348,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2223,NaN,NaN,2223,1992-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,19901,27.3582,98.7516,17243,-2.30595,-44.3325,18460,6.53893,-39.0759,56217,...,-19.1792,71349,1.18703,-11.8343,2508,3041,10338,2315,2566,2020-07
346,20595,3.48726,91.8848,17059,-1.0671,-40.3218,21487,16.3976,-23.6696,54213,...,-16.8742,73030,2.35602,-12.632,715.5,3111,11063,1949,2715,2020-08
347,31820,54.5035,158.237,20141,18.0667,-24.9478,23132,7.65579,-30.5991,52837,...,-7.31016,77255,5.78529,-7.91575,702.5,738.5,11929,1690,287.5,2020-09
348,40299,26.6468,83.4692,21695,7.7156,-18.2709,23135,0.012969,-17.0313,53494,...,-11.2459,73267,-5.16213,-9.44742,1119,749.5,8324,1621,287.5,2020-10
349,52807,31.038,200.142,NaN,NaN,NaN,21821,-5.67971,-3.94841,52805,...,11.0011,71744,-2.0787,-11.2925,NaN,2109,8226,NaN,1642,2020-11

### freight_m

In [294]:
freight_m = pd.read_excel(open('Truck & Trailer Database.xlsx', 'rb'), sheet_name='freight-m')
freight_m

,U.S. Monthly Freight,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 353,Unnamed: 354,Unnamed: 355,Unnamed: 356,Unnamed: 357,Unnamed: 358,Unnamed: 359,Unnamed: 360,Unnamed: 361,Unnamed: 362
0,Monthly Data,NaN,NaN,1992,1992,1992,1992,1992,1992,1992,...,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
1,NaN,NaN,NaN,JAN,FEB,MAR,APR,MAY,JUN,JUL,...,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
2,Loadings (thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,"FTR Truck Loadings (000s, SA)",NaN,42923.5,43029.3,43569.2,44421.6,44679.1,44218.3,44203.8,...,64186.2,64495,64731.1,64940.4,65098.5,65272.9,65439.2,65611.2,65750.7,65871.6
4,NaN,FTR Truck Loadings Index (1992=100),NaN,96.9858,97.2248,98.4448,100.371,100.953,99.9115,99.8787,...,145.029,145.727,146.26,146.733,147.09,147.484,147.86,148.249,148.564,148.837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Tonmiles (millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,"FTR MD Truck Tonmiles (000000s, SA)",NaN,5936.73,5895.32,5955.72,6102.14,6109.2,6088.98,6128.18,...,10026,10052.2,10081,10107.3,10129.3,10152.3,10174.5,10196.6,10216.3,10234.6
60,NaN,FTR MD Truck Tonmiles Index (1992=100),NaN,97.2778,96.5993,97.589,99.9882,100.104,99.7725,100.415,...,164.283,164.714,165.184,165.616,165.976,166.354,166.717,167.078,167.402,167.702
61,NaN,NaN,M/M % Change,NaN,-0.697495,1.02454,2.45847,0.11561,-0.331001,0.643883,...,0.371924,0.261953,0.285832,0.261331,0.217377,0.227642,0.218276,0.21672,0.193909,0.178953
62,NaN,NaN,Y/Y % Change,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.69772,9.29477,8.62454,6.00888,4.98317,4.27149,5.00257,4.15307,3.83315,3.50131

In [295]:
freight_m = freight_m.T
freight_m

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
U.S. Monthly Freight,Monthly Data,NaN,Loadings (thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Tonmiles (millions),NaN,NaN,NaN,NaN
Unnamed: 1,NaN,NaN,NaN,"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (1992=100),NaN,NaN,NaN,"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (1992=100),...,"FTR MD Truck Tonnage (000s, SA)",FTR MD Truck Tonnage Index (1992=100),NaN,NaN,NaN,NaN,"FTR MD Truck Tonmiles (000000s, SA)",FTR MD Truck Tonmiles Index (1992=100),NaN,NaN
Unnamed: 2,NaN,NaN,NaN,NaN,NaN,M/M % Change,Y/Y % Change,NaN,NaN,NaN,...,NaN,NaN,M/M % Change,Y/Y % Change,NaN,NaN,NaN,NaN,M/M % Change,Y/Y % Change
Unnamed: 3,1992,JAN,NaN,42923.5,96.9858,NaN,NaN,NaN,550.397,98.7624,...,93803.8,98.6671,NaN,NaN,NaN,NaN,5936.73,97.2778,NaN,NaN
Unnamed: 4,1992,FEB,NaN,43029.3,97.2248,0.24642,NaN,NaN,563.499,101.113,...,93092.2,97.9186,-0.75859,NaN,NaN,NaN,5895.32,96.5993,-0.697495,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 358,2021,AUG,NaN,65272.9,147.484,0.268034,5.04039,NaN,1323.5,237.487,...,141682,149.027,0.19398,5.33453,NaN,NaN,10152.3,166.354,0.227642,4.27149
Unnamed: 359,2021,SEP,NaN,65439.2,147.86,0.254769,5.25824,NaN,1325.11,237.776,...,141964,149.324,0.199583,4.99635,NaN,NaN,10174.5,166.717,0.218276,5.00257
Unnamed: 360,2021,OCT,NaN,65611.2,148.249,0.262838,4.3589,NaN,1329.98,238.65,...,142302,149.68,0.23804,4.06,NaN,NaN,10196.6,167.078,0.21672,4.15307
Unnamed: 361,2021,NOV,NaN,65750.7,148.564,0.212606,3.97504,NaN,1333.25,239.237,...,142567,149.958,0.186011,3.53607,NaN,NaN,10216.3,167.402,0.193909,3.83315
Unnamed: 362,2021,DEC,NaN,65871.6,148.837,0.183849,3.66978,NaN,1336.69,239.854,...,142805,150.209,0.167045,3.06959,NaN,NaN,10234.6,167.702,0.178953,3.50131

In [296]:
freight_m = freight_m.reset_index()
freight_m = freight_m.drop('index', axis=1)
freight_m

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,Monthly Data,NaN,Loadings (thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Tonmiles (millions),NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (1992=100),NaN,NaN,NaN,"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (1992=100),...,"FTR MD Truck Tonnage (000s, SA)",FTR MD Truck Tonnage Index (1992=100),NaN,NaN,NaN,NaN,"FTR MD Truck Tonmiles (000000s, SA)",FTR MD Truck Tonmiles Index (1992=100),NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,M/M % Change,Y/Y % Change,NaN,NaN,NaN,...,NaN,NaN,M/M % Change,Y/Y % Change,NaN,NaN,NaN,NaN,M/M % Change,Y/Y % Change
3,1992,JAN,NaN,42923.5,96.9858,NaN,NaN,NaN,550.397,98.7624,...,93803.8,98.6671,NaN,NaN,NaN,NaN,5936.73,97.2778,NaN,NaN
4,1992,FEB,NaN,43029.3,97.2248,0.24642,NaN,NaN,563.499,101.113,...,93092.2,97.9186,-0.75859,NaN,NaN,NaN,5895.32,96.5993,-0.697495,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,2021,AUG,NaN,65272.9,147.484,0.268034,5.04039,NaN,1323.5,237.487,...,141682,149.027,0.19398,5.33453,NaN,NaN,10152.3,166.354,0.227642,4.27149
359,2021,SEP,NaN,65439.2,147.86,0.254769,5.25824,NaN,1325.11,237.776,...,141964,149.324,0.199583,4.99635,NaN,NaN,10174.5,166.717,0.218276,5.00257
360,2021,OCT,NaN,65611.2,148.249,0.262838,4.3589,NaN,1329.98,238.65,...,142302,149.68,0.23804,4.06,NaN,NaN,10196.6,167.078,0.21672,4.15307
361,2021,NOV,NaN,65750.7,148.564,0.212606,3.97504,NaN,1333.25,239.237,...,142567,149.958,0.186011,3.53607,NaN,NaN,10216.3,167.402,0.193909,3.83315
362,2021,DEC,NaN,65871.6,148.837,0.183849,3.66978,NaN,1336.69,239.854,...,142805,150.209,0.167045,3.06959,NaN,NaN,10234.6,167.702,0.178953,3.50131

In [297]:
freight_m.columns = freight_m.iloc[2, :]
freight_m = freight_m.drop(index=[0,1,2], axis=0)
freight_m

2,NaN,NaN,NaN,NaN,NaN,M/M % Change,Y/Y % Change,NaN,NaN,NaN,...,NaN,NaN,M/M % Change,Y/Y % Change,NaN,NaN,NaN,NaN,M/M % Change,Y/Y % Change
3,1992,JAN,NaN,42923.5,96.9858,NaN,NaN,NaN,550.397,98.7624,...,93803.8,98.6671,NaN,NaN,NaN,NaN,5936.73,97.2778,NaN,NaN
4,1992,FEB,NaN,43029.3,97.2248,0.24642,NaN,NaN,563.499,101.113,...,93092.2,97.9186,-0.75859,NaN,NaN,NaN,5895.32,96.5993,-0.697495,NaN
5,1992,MAR,NaN,43569.2,98.4448,1.25482,NaN,NaN,539.852,96.8703,...,94654.9,99.5624,1.6787,NaN,NaN,NaN,5955.72,97.589,1.02454,NaN
6,1992,APR,NaN,44421.6,100.371,1.9564,NaN,NaN,549.778,98.6513,...,95906.2,100.878,1.3219,NaN,NaN,NaN,6102.14,99.9882,2.45847,NaN
7,1992,MAY,NaN,44679.1,100.953,0.579652,NaN,NaN,547.14,98.178,...,96278.5,101.27,0.388201,NaN,NaN,NaN,6109.2,100.104,0.11561,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,2021,AUG,NaN,65272.9,147.484,0.268034,5.04039,NaN,1323.5,237.487,...,141682,149.027,0.19398,5.33453,NaN,NaN,10152.3,166.354,0.227642,4.27149
359,2021,SEP,NaN,65439.2,147.86,0.254769,5.25824,NaN,1325.11,237.776,...,141964,149.324,0.199583,4.99635,NaN,NaN,10174.5,166.717,0.218276,5.00257
360,2021,OCT,NaN,65611.2,148.249,0.262838,4.3589,NaN,1329.98,238.65,...,142302,149.68,0.23804,4.06,NaN,NaN,10196.6,167.078,0.21672,4.15307
361,2021,NOV,NaN,65750.7,148.564,0.212606,3.97504,NaN,1333.25,239.237,...,142567,149.958,0.186011,3.53607,NaN,NaN,10216.3,167.402,0.193909,3.83315
362,2021,DEC,NaN,65871.6,148.837,0.183849,3.66978,NaN,1336.69,239.854,...,142805,150.209,0.167045,3.06959,NaN,NaN,10234.6,167.702,0.178953,3.50131

In [298]:
freight_m = freight_m.dropna(how='all', axis=1)
freight_m

2,NaN,NaN,NaN,NaN,M/M % Change,Y/Y % Change,NaN,NaN,M/M % Change,Y/Y % Change,...,NaN,NaN,NaN,NaN,M/M % Change,Y/Y % Change,NaN,NaN,M/M % Change,Y/Y % Change
3,1992,JAN,42923.5,96.9858,NaN,NaN,550.397,98.7624,NaN,NaN,...,2266.19,21340,93803.8,98.6671,NaN,NaN,5936.73,97.2778,NaN,NaN
4,1992,FEB,43029.3,97.2248,0.24642,NaN,563.499,101.113,2.38047,NaN,...,2388.15,21444.7,93092.2,97.9186,-0.75859,NaN,5895.32,96.5993,-0.697495,NaN
5,1992,MAR,43569.2,98.4448,1.25482,NaN,539.852,96.8703,-4.19633,NaN,...,2443.74,21605.6,94654.9,99.5624,1.6787,NaN,5955.72,97.589,1.02454,NaN
6,1992,APR,44421.6,100.371,1.9564,NaN,549.778,98.6513,1.83855,NaN,...,2353.58,22222.2,95906.2,100.878,1.3219,NaN,6102.14,99.9882,2.45847,NaN
7,1992,MAY,44679.1,100.953,0.579652,NaN,547.14,98.178,-0.479771,NaN,...,2444.06,22330.4,96278.5,101.27,0.388201,NaN,6109.2,100.104,0.11561,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,2021,AUG,65272.9,147.484,0.268034,5.04039,1323.5,237.487,0.00909739,2.65341,...,5246.06,31161.1,141682,149.027,0.19398,5.33453,10152.3,166.354,0.227642,4.27149
359,2021,SEP,65439.2,147.86,0.254769,5.25824,1325.11,237.776,0.121771,1.68611,...,5255.28,31237.6,141964,149.324,0.199583,4.99635,10174.5,166.717,0.218276,5.00257
360,2021,OCT,65611.2,148.249,0.262838,4.3589,1329.98,238.65,0.36737,1.55977,...,5284.96,31314.2,142302,149.68,0.23804,4.06,10196.6,167.078,0.21672,4.15307
361,2021,NOV,65750.7,148.564,0.212606,3.97504,1333.25,239.237,0.245888,-1.99006,...,5287.47,31385.3,142567,149.958,0.186011,3.53607,10216.3,167.402,0.193909,3.83315
362,2021,DEC,65871.6,148.837,0.183849,3.66978,1336.69,239.854,0.257838,-6.10903,...,5280.12,31452.9,142805,150.209,0.167045,3.06959,10234.6,167.702,0.178953,3.50131

In [299]:
freight_m.columns = ["Year", "Month", "FTR Truck Loadings (000s, SA)", 
                       "FTR Truck Loadings Index (1992=100)", "FTR Truck Loadings_M/M % Change", 
                       "FTR Truck Loadings_Y/Y % Change", "FTR Rail Intermodal Loadings (000, SA)", 
                       "FTR Rail Intermodal Loadings Index (1992=100)", "FTR Rail Intermodal Loadings_M/M % Change", 
                       "FTR Rail Intermodal Loadings_Y/Y % Change", "FTR Rail Carloadings (carload + intermodal) (000s, SA)", 
                       "FTR Rail Carloadings Index (1992=100)", "FTR Rail Carloadings_M/M % Change", 
                       "FTR Rail Carloadings_Y/Y % Change",  
                       "FTR Cl. 8 Truck Tonnage (000s, SA)", "FTR Cl. 8 Truck Tonnage Index (1992=100)", "FTR Cl. 8 Truck Tonnage_M/M % Change", 
                       "FTR Cl. 8 Truck Tonnage_Y/Y % Change", "FTR Cl. 8 Truck Tonmiles (000000s, SA)", 
                       "FTR Cl. 8 Truck Tonmiles Index (1992=100)", "FTR Cl. 8 Truck Tonmiles_M/M % Change", 
                       "FTR Cl. 8 Truck Tonmiles__Y/Y % Change", "FTR Class 8 Truck Utilization (%, SA)", 
                       "Dry Van Trailer Loadings (000s, SA)", "Reefer Trailer Loadings (000s, SA)", 
                        "Platform Trailer Loadings (000s, SA)", "Straight Truck Loadings (000s, SA)", 
                       "Bulk Trailer Loadings (000s, SA)", "Food & Kindred Products (000s, SA)", 
                        "Stone, Clay, Glass & Concrete (000s, SA)", "Nonmetallic Minerals, Except Fuels (000s, SA)", 
                       "Chemicals & Allied Products (000s, SA)", "Transportation Equipment (000s, SA)", 
                       "All Other Freight (000s, SA)", "FTR MD Truck Tonnage (000s, SA)", 
                       "FTR MD Truck Tonnage Index (1992=100)", "FTR MD Truck Tonnage_M/M % Change", 
                       "FTR MD Truck Tonnage_Y/Y % Change", "FTR MD Truck Tonmiles (000000s, SA)",
                       "FTR MD Truck Tonmiles Index (1992=100)", "FTR MD Truck Tonmiles_M/M % Change", 
                       "FTR MD Truck Tonmiles_Y/Y % Change"]

In [300]:
freight_m

,Year,Month,"FTR Truck Loadings (000s, SA)",FTR Truck Loadings Index (1992=100),FTR Truck Loadings_M/M % Change,FTR Truck Loadings_Y/Y % Change,"FTR Rail Intermodal Loadings (000, SA)",FTR Rail Intermodal Loadings Index (1992=100),FTR Rail Intermodal Loadings_M/M % Change,FTR Rail Intermodal Loadings_Y/Y % Change,...,"Transportation Equipment (000s, SA)","All Other Freight (000s, SA)","FTR MD Truck Tonnage (000s, SA)",FTR MD Truck Tonnage Index (1992=100),FTR MD Truck Tonnage_M/M % Change,FTR MD Truck Tonnage_Y/Y % Change,"FTR MD Truck Tonmiles (000000s, SA)",FTR MD Truck Tonmiles Index (1992=100),FTR MD Truck Tonmiles_M/M % Change,FTR MD Truck Tonmiles_Y/Y % Change
3,1992,JAN,42923.5,96.9858,NaN,NaN,550.397,98.7624,NaN,NaN,...,2266.19,21340,93803.8,98.6671,NaN,NaN,5936.73,97.2778,NaN,NaN
4,1992,FEB,43029.3,97.2248,0.24642,NaN,563.499,101.113,2.38047,NaN,...,2388.15,21444.7,93092.2,97.9186,-0.75859,NaN,5895.32,96.5993,-0.697495,NaN
5,1992,MAR,43569.2,98.4448,1.25482,NaN,539.852,96.8703,-4.19633,NaN,...,2443.74,21605.6,94654.9,99.5624,1.6787,NaN,5955.72,97.589,1.02454,NaN
6,1992,APR,44421.6,100.371,1.9564,NaN,549.778,98.6513,1.83855,NaN,...,2353.58,22222.2,95906.2,100.878,1.3219,NaN,6102.14,99.9882,2.45847,NaN
7,1992,MAY,44679.1,100.953,0.579652,NaN,547.14,98.178,-0.479771,NaN,...,2444.06,22330.4,96278.5,101.27,0.388201,NaN,6109.2,100.104,0.11561,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,2021,AUG,65272.9,147.484,0.268034,5.04039,1323.5,237.487,0.00909739,2.65341,...,5246.06,31161.1,141682,149.027,0.19398,5.33453,10152.3,166.354,0.227642,4.27149
359,2021,SEP,65439.2,147.86,0.254769,5.25824,1325.11,237.776,0.121771,1.68611,...,5255.28,31237.6,141964,149.324,0.199583,4.99635,10174.5,166.717,0.218276,5.00257
360,2021,OCT,65611.2,148.249,0.262838,4.3589,1329.98,238.65,0.36737,1.55977,...,5284.96,31314.2,142302,149.68,0.23804,4.06,10196.6,167.078,0.21672,4.15307
361,2021,NOV,65750.7,148.564,0.212606,3.97504,1333.25,239.237,0.245888,-1.99006,...,5287.47,31385.3,142567,149.958,0.186011,3.53607,10216.3,167.402,0.193909,3.83315
362,2021,DEC,65871.6,148.837,0.183849,3.66978,1336.69,239.854,0.257838,-6.10903,...,5280.12,31452.9,142805,150.209,0.167045,3.06959,10234.6,167.702,0.178953,3.50131

In [301]:
# Converting month names to numbers for uniformity
months = {'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04', 'MAY': '05', 'JUN': '06', 'JUL': '07',
          'AUG': '08', 'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'}
freight_m['Month'] = freight_m['Month'].map(months)
freight_m['Year_Month'] = freight_m['Year'].astype(str) + '-' +  freight_m['Month']
freight_m = freight_m.drop(['Year', 'Month'], axis=1)
new_names = []
for i in freight_m.columns:
    new_names.append(i + '_freight_m_trucking_trailer')
    
freight_m.columns = new_names
freight_m = freight_m.rename(columns = {'Year_Month_freight_m_trucking_trailer': 'Year_Month'})
freight_m

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,"FTR Truck Loadings (000s, SA)_freight_m_trucking_trailer",FTR Truck Loadings Index (1992=100)_freight_m_trucking_trailer,FTR Truck Loadings_M/M % Change_freight_m_trucking_trailer,FTR Truck Loadings_Y/Y % Change_freight_m_trucking_trailer,"FTR Rail Intermodal Loadings (000, SA)_freight_m_trucking_trailer",FTR Rail Intermodal Loadings Index (1992=100)_freight_m_trucking_trailer,FTR Rail Intermodal Loadings_M/M % Change_freight_m_trucking_trailer,FTR Rail Intermodal Loadings_Y/Y % Change_freight_m_trucking_trailer,"FTR Rail Carloadings (carload + intermodal) (000s, SA)_freight_m_trucking_trailer",FTR Rail Carloadings Index (1992=100)_freight_m_trucking_trailer,...,"All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer,Year_Month
3,42923.5,96.9858,NaN,NaN,550.397,98.7624,NaN,NaN,2229.79,103.599,...,21340,93803.8,98.6671,NaN,NaN,5936.73,97.2778,NaN,NaN,1992-01
4,43029.3,97.2248,0.24642,NaN,563.499,101.113,2.38047,NaN,2278.29,105.852,...,21444.7,93092.2,97.9186,-0.75859,NaN,5895.32,96.5993,-0.697495,NaN,1992-02
5,43569.2,98.4448,1.25482,NaN,539.852,96.8703,-4.19633,NaN,2181.96,101.376,...,21605.6,94654.9,99.5624,1.6787,NaN,5955.72,97.589,1.02454,NaN,1992-03
6,44421.6,100.371,1.9564,NaN,549.778,98.6513,1.83855,NaN,2140.87,99.4671,...,22222.2,95906.2,100.878,1.3219,NaN,6102.14,99.9882,2.45847,NaN,1992-04
7,44679.1,100.953,0.579652,NaN,547.14,98.178,-0.479771,NaN,2131.23,99.019,...,22330.4,96278.5,101.27,0.388201,NaN,6109.2,100.104,0.11561,NaN,1992-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,65272.9,147.484,0.268034,5.04039,1323.5,237.487,0.00909739,2.65341,2753.54,127.932,...,31161.1,141682,149.027,0.19398,5.33453,10152.3,166.354,0.227642,4.27149,2021-08
359,65439.2,147.86,0.254769,5.25824,1325.11,237.776,0.121771,1.68611,2755.14,128.007,...,31237.6,141964,149.324,0.199583,4.99635,10174.5,166.717,0.218276,5.00257,2021-09
360,65611.2,148.249,0.262838,4.3589,1329.98,238.65,0.36737,1.55977,2759.28,128.199,...,31314.2,142302,149.68,0.23804,4.06,10196.6,167.078,0.21672,4.15307,2021-10
361,65750.7,148.564,0.212606,3.97504,1333.25,239.237,0.245888,-1.99006,2763.46,128.393,...,31385.3,142567,149.958,0.186011,3.53607,10216.3,167.402,0.193909,3.83315,2021-11
362,65871.6,148.837,0.183849,3.66978,1336.69,239.854,0.257838,-6.10903,2768.6,128.632,...,31452.9,142805,150.209,0.167045,3.06959,10234.6,167.702,0.178953,3.50131,2021-12

In [302]:
truck_trailer_monthly_list = [economics_m, indicators_m, freight_m]
truck_trailer_monthly_df = pd.concat(truck_trailer_monthly_list, join='inner', axis=1)

In [304]:
truck_trailer_monthly_df = truck_trailer_monthly_df.loc[:,~truck_trailer_monthly_df.columns.duplicated()]

In [308]:
truck_trailer_monthly_df

,Total IP Index_economics_m_trucking_trailer,Durable Manufacturing Index_economics_m_trucking_trailer,Non-Durable Manufacturing Index_economics_m_trucking_trailer,Total Manufacturing Index_economics_m_trucking_trailer,Food Index_economics_m_trucking_trailer,Chemicals Index_economics_m_trucking_trailer,Fabricated Metal Product Index_economics_m_trucking_trailer,Automobile and Light-Duty Vehicles Index_economics_m_trucking_trailer,Payroll Employment (000's)_economics_m_trucking_trailer,ISM Manufacturing Index_economics_m_trucking_trailer,...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
3,64.8088,43.1439,94.2019,60.8433,81.8869,79.9827,78.4044,60.628,108519,52.6,...,2266.19,21340,93803.8,98.6671,NaN,NaN,5936.73,97.2778,NaN,NaN
4,65.0202,43.6509,94.1043,61.2039,81.8924,79.2751,79.2963,64.8041,108649,55.7,...,2388.15,21444.7,93092.2,97.9186,-0.75859,NaN,5895.32,96.5993,-0.697495,NaN
5,65.0295,43.6361,94.7534,61.3837,82.4293,80.3908,79.2826,61.8818,108715,53.6,...,2443.74,21605.6,94654.9,99.5624,1.6787,NaN,5955.72,97.589,1.02454,NaN
6,65.6172,44.1445,95.3686,61.9549,82.9265,81.0651,79.2505,67.9079,108793,53.9,...,2353.58,22222.2,95906.2,100.878,1.3219,NaN,6102.14,99.9882,2.45847,NaN
7,65.2943,43.9747,94.9858,61.712,82.5994,79.9092,79.3278,63.3252,108925,53.4,...,2444.06,22330.4,96278.5,101.27,0.388201,NaN,6109.2,100.104,0.11561,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,101.892,100.321,97.5812,98.9978,112.432,95.642,92.2754,150.456,139570,54.2,...,1659.06,27510.7,130785,137.566,-4.29234,-3.78992,9197.37,150.706,-5.78987,-6.7963
343,102.662,101.38,99.2991,100.383,114.071,96.8567,93.6211,137.8,141063,56,...,2800.17,27783.1,130165,136.913,-0.474615,-4.10114,9280.57,152.069,0.90461,-5.80862
344,102.601,101.54,99.1395,100.385,113.952,96.4458,95.8283,128.668,141774,55.4,...,5172.49,28797.8,131164,137.964,0.767684,-4.52175,9534.4,156.228,2.73517,-4.19364
345,103.573,102.557,100.513,101.579,114.758,97.7867,95.6011,126.495,142384,59.3,...,5274.63,29460.5,133916,140.858,2.0979,-2.19369,9648.49,158.098,1.19653,-2.01734
346,103.982,104.089,100.578,102.385,115.427,97.3144,96.0137,136.568,142629,57.5,...,5262.68,30034.5,134506,141.48,0.441119,-2.57362,9736.45,159.539,0.911714,-1.55722

In [306]:
monthly_df

,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking","Dry Van Trailer Loadings (000s, SA)_freight_m_trucking","Reefer Trailer Loadings (000s, SA)_freight_m_trucking","Flatbed Trailer Loadings (000s, SA)_freight_m_trucking","Tank Trailer Loadings (000s, SA)_freight_m_trucking","Bulk Trailer/Straight Truck Loadings (000s, SA)_freight_m_trucking","Food & Kindred Products (000s, SA)_freight_m_trucking","Stone, Clay, Glass & Concrete (000s, SA)_freight_m_trucking",...,Change in Manufacturing Emp. (000's)_driver_indicators_m_trucking,USCONS_driver_indicators_m_trucking,Change in Construction Emp. (000's)_driver_indicators_m_trucking,TTWEMP_driver_indicators_m_trucking,Change in Total Transp. Emp. (000's)_driver_indicators_m_trucking,TRUCKEMP_driver_indicators_m_trucking,Change in Truck Emp. (000's)_driver_indicators_m_trucking,Freight & Labor Indices (FTR)_driver_indicators_m_trucking,LOADINDEX_driver_indicators_m_trucking,LABORINDEX_driver_indicators_m_trucking
0,42923.5,76.471,82.3826,14649.6,2806.69,4569.7,5579.7,15317.8,6534.13,3803.69,...,NaN,4667,NaN,3444,NaN,1102,NaN,NaN,96.9858,98.6709
1,43029.3,76.6594,82.9727,14797.5,2782.04,4621.96,5534.44,15293.3,6462.44,3854.63,...,-10,4612,-55,3445,1,1099,-3,NaN,97.2248,99.15
2,43569.2,77.6214,83.6622,14985.1,2775.16,4666.45,5543.48,15599,6495.54,3860.49,...,-24,4621,9,3449,4,1100,1,NaN,98.4448,99.3099
3,44421.6,79.14,83.4209,15186,2760.59,4739.93,5779.74,15955.3,6620.96,3897.84,...,26,4603,-18,3454,5,1102,2,NaN,100.371,99.6775
4,44679.1,79.5987,83.693,15280.9,2782.33,4762.93,5741.76,16111.1,6604.79,3899.17,...,4,4605,2,3452,-2,1105,3,NaN,100.953,99.937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,61469.1,109.511,89.9624,20072.4,4379.19,6993.33,6571.13,23453,9375.9,5404.8,...,41,7202,31,5219,48,1440,3,NaN,138.89,125.057
343,62140.8,110.708,90.6418,20379.9,4404.42,7096.86,6601.26,23658.3,9520.3,5381.92,...,30,7226,24,5304,85,1450,10,NaN,140.407,125.247
344,62170.2,110.76,90.5879,20315.7,4381.19,7049.92,6556.75,23866.6,9472.59,5253.5,...,60,7261,35,5348,44,1454,4,NaN,140.474,125.216
345,62870.8,112.008,94.3672,20404.2,4436.92,7199.06,6523.8,24306.8,9565.48,5479.17,...,33,7333,72,5410,62,1462,8,NaN,142.057,124.895
346,63237,112.661,95.4049,20455.4,4457.16,7260.72,6528.94,24534.8,9612.78,5530.47,...,27,7360,27,5555,145,1474,12,NaN,142.884,124.975

In [247]:
l = [monthly_df, truck_trailer_monthly_df]
new_df = pd.concat(l, join='er', axis=1)

In [310]:
new_df = pd.merge(monthly_df, truck_trailer_monthly_df, how='left', on='Year_Month')

In [312]:
new_df

,"FTR Truck Loadings (000s, SA)_freight_m_trucking",FTR Truck Loadings Index (2000=100)_freight_m_trucking,"FTR Active Truck Utilization (%, SA)_freight_m_trucking","Dry Van Trailer Loadings (000s, SA)_freight_m_trucking","Reefer Trailer Loadings (000s, SA)_freight_m_trucking","Flatbed Trailer Loadings (000s, SA)_freight_m_trucking","Tank Trailer Loadings (000s, SA)_freight_m_trucking","Bulk Trailer/Straight Truck Loadings (000s, SA)_freight_m_trucking","Food & Kindred Products (000s, SA)_freight_m_trucking","Stone, Clay, Glass & Concrete (000s, SA)_freight_m_trucking",...,"Transportation Equipment (000s, SA)_freight_m_trucking_trailer","All Other Freight (000s, SA)_freight_m_trucking_trailer","FTR MD Truck Tonnage (000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonnage Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonnage_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonnage_Y/Y % Change_freight_m_trucking_trailer,"FTR MD Truck Tonmiles (000000s, SA)_freight_m_trucking_trailer",FTR MD Truck Tonmiles Index (1992=100)_freight_m_trucking_trailer,FTR MD Truck Tonmiles_M/M % Change_freight_m_trucking_trailer,FTR MD Truck Tonmiles_Y/Y % Change_freight_m_trucking_trailer
0,42923.5,76.471,82.3826,14649.6,2806.69,4569.7,5579.7,15317.8,6534.13,3803.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,43029.3,76.6594,82.9727,14797.5,2782.04,4621.96,5534.44,15293.3,6462.44,3854.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,43569.2,77.6214,83.6622,14985.1,2775.16,4666.45,5543.48,15599,6495.54,3860.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44421.6,79.14,83.4209,15186,2760.59,4739.93,5779.74,15955.3,6620.96,3897.84,...,2266.19,21340,93803.8,98.6671,NaN,NaN,5936.73,97.2778,NaN,NaN
4,44679.1,79.5987,83.693,15280.9,2782.33,4762.93,5741.76,16111.1,6604.79,3899.17,...,2388.15,21444.7,93092.2,97.9186,-0.75859,NaN,5895.32,96.5993,-0.697495,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,61469.1,109.511,89.9624,20072.4,4379.19,6993.33,6571.13,23453,9375.9,5404.8,...,1659.06,27510.7,130785,137.566,-4.29234,-3.78992,9197.37,150.706,-5.78987,-6.7963
343,62140.8,110.708,90.6418,20379.9,4404.42,7096.86,6601.26,23658.3,9520.3,5381.92,...,2800.17,27783.1,130165,136.913,-0.474615,-4.10114,9280.57,152.069,0.90461,-5.80862
344,62170.2,110.76,90.5879,20315.7,4381.19,7049.92,6556.75,23866.6,9472.59,5253.5,...,5172.49,28797.8,131164,137.964,0.767684,-4.52175,9534.4,156.228,2.73517,-4.19364
345,62870.8,112.008,94.3672,20404.2,4436.92,7199.06,6523.8,24306.8,9565.48,5479.17,...,5274.63,29460.5,133916,140.858,2.0979,-2.19369,9648.49,158.098,1.19653,-2.01734
346,63237,112.661,95.4049,20455.4,4457.16,7260.72,6528.94,24534.8,9612.78,5530.47,...,5262.68,30034.5,134506,141.48,0.441119,-2.57362,9736.45,159.539,0.911714,-1.55722

In [313]:
new_df.to_csv('external_monthly_data.csv')